

<ng-container *ngIf="model === undefined || model === null">

  <div class="loader">
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>

</ng-container>

<ng-container *ngIf="model !== undefined && model !== null">

  <!-- DataTales Example -->
  <div class="card shadow mt-4">
    <div class="card-header">
      <div class="d-flex justify-content-between">
        <h2 class="m-0 font-weight-bold text-primary">
          {{ model._isNew ? 'Додавання нової пропозиції' : 'Редагування пропозиції' }}
        </h2>
        <a href="#/business/{{ model._isNew ? 'company/view/' + model.companyId  : 'contract/view/' + model.id }}" class="btn btn-secondary">
          Відмінити
        </a>
      </div>
    </div>
    <div class="card-body">

      <form [formGroup]="model.formGroup" class="form-group" (ngSubmit)="save()">

        <div class="row">

          <!-- Start Input -->

          <div class="col-md-4">

            <label class="d-flex justify-content-between" for="contract-form-typeValidity">
              <span>Дата від:</span>

              <ng-container
                *ngIf="model.formGroup.controls['typeValidity'].invalid && (model.formGroup.controls['typeValidity'].dirty || model.formGroup.controls['typeValidity'].touched || submitted)">

                <small class="text-danger" *ngIf="model.formGroup.controls['typeValidity'].errors.required">

                  Поле не може бути пустим.

                </small>

              </ng-container>

            </label>

<!--            <input class="form-control" id="contract-form-typeValidity" name="typeValidity" type="number" formControlName="typeValidity" placeholder="0">-->
            <select class="form-control" name="typeValidity" id="contract-form-typeValidity" formControlName="typeValidity">
              <option [ngValue]="0">День</option>
              <option [ngValue]="1">Дні</option>
              <option [ngValue]="2">Місяць</option>
              <option [ngValue]="3">Місяці</option>
              <option [ngValue]="4">Рік</option>
              <option [ngValue]="5">Роки</option>
            </select>


          </div>

          <!-- END Input -->

          <!-- Start Input -->

          <div class="col-md-4">

            <label class="d-flex justify-content-between" for="contract-form-validityFrom">
              <span>Дата від:</span>

              <ng-container
                *ngIf="model.formGroup.controls['validityFrom'].invalid && (model.formGroup.controls['validityFrom'].dirty || model.formGroup.controls['validityFrom'].touched || submitted)">

                <small class="text-danger" *ngIf="model.formGroup.controls['validityFrom'].errors.required">

                  Поле не може бути пустим.

                </small>

              </ng-container>

            </label>

<!--            <input class="form-control" id="contract-form-validityFrom" name="validityFrom" type="number" formControlName="validityFrom" placeholder="0">-->
            <div class="input-group">
              <input class="form-control" placeholder="yyyy-mm-dd" name="validityFrom" [(ngModel)]="from" ngbDatepicker #DFrom="ngbDatepicker" formControlName="validityFrom">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary calendar" (click)="DFrom.toggle()" type="button">
                  <i class="fas fa-calendar-alt"></i>
                </button>
              </div>
            </div>

          </div>

          <!-- END Input -->

          <!-- Start Input -->

          <div class="col-md-4">

            <label class="d-flex justify-content-between" for="contract-form-validityTo">
              <span>Дата до:</span>

              <ng-container
                *ngIf="model.formGroup.controls['validityTo'].invalid && (model.formGroup.controls['validityTo'].dirty || model.formGroup.controls['validityTo'].touched || submitted)">

                <small class="text-danger" *ngIf="model.formGroup.controls['validityTo'].errors.required">

                  Поле не може бути пустим.

                </small>

              </ng-container>

            </label>

<!--            <input class="form-control" id="contract-form-validityTo" name="validityTo" type="number" formControlName="validityTo" placeholder="0">-->
            <div class="input-group">
              <input class="form-control" id="contract-form-validityTo" placeholder="yyyy-mm-dd" name="validityTo" [(ngModel)]="to" ngbDatepicker #DTo="ngbDatepicker" formControlName="validityTo">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary calendar" (click)="DTo.toggle()" type="button">
                  <i class="fas fa-calendar-alt"></i>
                </button>
              </div>
            </div>


          </div>

          <!-- END Input -->

        </div>

        <hr>

        <input type="submit" class="btn btn-success btn-block">

      </form>

    </div>
  </div>

</ng-container>
