<div id="app-admin-panel-offer-module-form-component">


  <div class="loader d-none">
    <div class="spinner-border" role="status">
      <strong class="sr-only">Loading...</strong>
    </div>
  </div>
  <ng-container *ngIf="model !== undefined && model !== null">

    <!-- DataTales Example -->
    <div class="card shadow mt-4">
      <div class="card-header">
        <div class="d-flex justify-content-between">
          <h4 class="m-0 font-weight-bold text-primary">
            {{ model._isNew ? 'Додавання нової пропозиції' : 'Редагування пропозиції' }}
          </h4>
          <a href="{{ model.companyId !== undefined && model.companyId !== null ? '#/business/company/view/' + model.companyId : model._isNew ? '#/business/offer' : '#/business/offer/view/' + model.id }}" class="btn btn-sm btn-secondary">
            Відмінити
          </a>
        </div>
      </div>
      <div class="card-body">

        <form [formGroup]="model.formGroup" class="form-group">

          <div class="row">

            <!-- Start Input -->

<!--            <div class="col-md-12">-->

<!--                <label class="d-flex justify-content-between" for="company-{{ id }}">-->

<!--                  <strong>Заклад</strong>-->

<!--                  <ng-container-->
<!--                    *ngIf="model.formGroup.controls['company'].invalid && (model.formGroup.controls['company'].dirty || model.formGroup.controls['company'].touched || submitted)">-->

<!--                    <small class="text-danger" *ngIf="model.formGroup.controls['company'].errors.required">-->

<!--                      Поле не може бути пустим.-->

<!--                    </small>-->

<!--                  </ng-container>-->

<!--                </label>-->

<!--              <ng-container *ngIf="model.companyId !== null; else companyIsEmpty">-->

<!--                {{ model.company.name }}-->

<!--              </ng-container>-->
<!--              <ng-template #companyIsEmpty>-->

<!--                <ng-select-->
<!--                  [items]="companies"-->
<!--                  id="company-{{ id }}"-->
<!--                  bindLabel="name"-->
<!--                  [loading]="loadingCompanies"-->
<!--                  placeholder="Вибери фірму"-->
<!--                  formControlName="company"-->
<!--                >-->
<!--                </ng-select>-->

<!--              </ng-template>-->

<!--              <hr>-->

<!--            </div>-->

            <!-- END Input -->

            <!-- Start Input -->

            <div class="col-md-3">

              <label class="d-flex justify-content-between" for="offer-form-type">

                <strong>Тип пропозиції:</strong>

                <ng-container
                  *ngIf="model.formGroup.controls['type'].invalid && (model.formGroup.controls['type'].dirty || model.formGroup.controls['type'].touched)">

                  <small class="text-danger" *ngIf="model.formGroup.controls['type'].errors.required">

                    Поле не може бути пустим.

                  </small>

                </ng-container>

              </label>

              <select class="form-control" name="type" id="offer-form-type" formControlName="type" (change)="changeType($event.target.value)">
                <option [ngValue]="1">Звичайна</option>
                <option [ngValue]="2">Купон</option>
                <option [ngValue]="3">Баннер</option>
                <option [ngValue]="4">Подія</option>
              </select>

            </div>

            <!-- END Input -->

            <!-- Start Input -->

            <div class="col-md-3">


              <label class="d-flex justify-content-between" for="offer-form-limit">
              <strong>
                <input type="checkbox" [(ngModel)]="useLimit" [ngModelOptions]="{standalone: true}"> Ліміт:
              </strong>

                <ng-container
                  *ngIf="model.formGroup.controls['limit'].invalid && (model.formGroup.controls['limit'].dirty || model.formGroup.controls['limit'].touched)">

                  <small class="text-danger" *ngIf="model.formGroup.controls['limit'].errors.required">

                    Поле не може бути пустим.

                  </small>

                </ng-container>

              </label>

              <input class="form-control" id="offer-form-limit" name="limit" type="number" formControlName="limit" placeholder="0" [attr.disabled]="!useLimit?'':null">


            </div>

            <!-- END Input -->

            <!-- Start Input -->

            <div class="col-md-3">

              <label class="d-flex justify-content-between" for="offer-form-price">
                <strong>Ціна в ikoint:</strong>

                <ng-container
                  *ngIf="model.formGroup.controls['price'].invalid && (model.formGroup.controls['price'].dirty || model.formGroup.controls['price'].touched)">

                  <small class="text-danger" *ngIf="model.formGroup.controls['price'].errors.required">

                    Поле не може бути пустим.

                  </small>

                </ng-container>

              </label>

              <input class="form-control" id="offer-form-price" name="price" type="number" formControlName="price" placeholder="0">


            </div>

            <!-- END Input -->

            <!-- Start Input -->

            <div class="col-md-3">

              <label class="d-flex justify-content-between" for="offer-form-ikointForTake">
                <strong>ikoint за перегляд:</strong>

                <ng-container
                  *ngIf="model.formGroup.controls['ikointForTake'].invalid && (model.formGroup.controls['ikointForTake'].dirty || model.formGroup.controls['ikointForTake'].touched)">

                  <small class="text-danger" *ngIf="model.formGroup.controls['ikointForTake'].errors.required">

                    Поле не може бути пустим.

                  </small>

                </ng-container>

              </label>

              <input class="form-control" id="offer-form-ikointForTake" name="ikointForTake" type="number" formControlName="ikointForTake" placeholder="0">


            </div>

            <!-- END Input -->

          </div>

          <hr>

          <div class="row">


            <!-- Start Input -->

            <div class="col-md-3">

              <label class="d-flex justify-content-between" for="offer-form-accessForUse">
                <strong>Де можна використати:</strong>

                <ng-container
                  *ngIf="model.formGroup.controls['accessForUse'].invalid && (model.formGroup.controls['accessForUse'].dirty || model.formGroup.controls['accessForUse'].touched)">

                  <small class="text-danger" *ngIf="model.formGroup.controls['accessForUse'].errors.required">

                    Поле не може бути пустим.

                  </small>

                </ng-container>

              </label>

              <!--            <input class="form-control" id="offer-form-accessForUse" name="accessForUse" type="number" formControlName="accessForUse" placeholder="0">-->
              <select class="form-control" name="accessForUse" id="offer-form-accessForUse" formControlName="accessForUse">
                <option [ngValue]="1">У всіх торгових точках бренду</option>
                <option [ngValue]="2">У всіх торгівельних точках бренду, вибраного міста у знижці</option>
                <option [ngValue]="3">У вибраних торгівельних точках бренду</option>
                <!--                    <option [ngValue]="4">Всюди</option>-->
                <!--                    <option [ngValue]="5">Всюди у місті</option>-->
              </select>

            </div>

            <!-- END Input -->

            <!-- Start Input -->

            <div class="col-md-3">

              <label class="d-flex justify-content-between" for="offer-form-accessForUser">
                <strong>Хто може використати:</strong>

                <ng-container
                  *ngIf="model.formGroup.controls['accessForUser'].invalid && (model.formGroup.controls['accessForUser'].dirty || model.formGroup.controls['accessForUser'].touched)">

                  <small class="text-danger" *ngIf="model.formGroup.controls['accessForUser'].errors.required">

                    Поле не може бути пустим.

                  </small>

                </ng-container>

              </label>

              <!--            <input class="form-control" id="offer-form-accessForUser" name="accessForUser" type="number" formControlName="accessForUser" placeholder="0">-->
              <select class="form-control" name="accessForUser" id="offer-form-accessForUser" formControlName="accessForUser">
                <option [ngValue]="1">Всі</option>
                <option [ngValue]="2">Підписники</option>
              </select>


            </div>

            <!-- END Input -->

            <!-- Start Input -->

            <div class="col-md-3">


              <label class="d-flex justify-content-between" for="offer-form-income">
                <strong>Дохід в грн:</strong>

                <ng-container
                  *ngIf="model.formGroup.controls['income'].invalid && (model.formGroup.controls['income'].dirty || model.formGroup.controls['income'].touched)">

                  <small class="text-danger" *ngIf="model.formGroup.controls['income'].errors.required">

                    Поле не може бути пустим.

                  </small>

                </ng-container>

              </label>

              <input class="form-control" id="offer-form-income" name="income" type="number" formControlName="income" placeholder="Вкажіть дохід з одиниці">


            </div>

            <!-- END Input -->

            <!-- Start Input -->

            <div class="col-md-3">


              <label class="d-flex justify-content-between" for="company-form-status">
                <strong>Статус:</strong>

                <ng-container
                  *ngIf="model.formGroup.controls['status'].invalid && (model.formGroup.controls['status'].dirty || model.formGroup.controls['status'].touched)">

                  <small class="text-danger" *ngIf="model.formGroup.controls['status'].errors.required">

                    Поле не може бути пустим.

                  </small>

                </ng-container>

              </label>

              <select id="company-form-status" formControlName="status" class="form-control">
                <option [ngValue]="2">Опублікований</option>
                <option [ngValue]="1">Неопублікований</option>
              </select>


            </div>

            <!-- END Input -->

          </div>

          <hr>

          <div class="row">

            <div class="col-md-8">

              <label for="offer-form-tags">Теги</label>
              <ng-select
                [items]="tags"
                [multiple]="true"
                [closeOnSelect]="false"
                [searchable]="true"
                bindLabel="name"
                bindValue="id"
                id="offer-form-tags"
                placeholder="Виберіть теги"
                formControlName="tags"
                (change)="changed($event)">
              </ng-select>

            </div>

            <div class="col-md-4">

              <label for="canUse-form-canBuy">Чи є можливсть купити?</label>

              <div class="form-group form-check">
                <input [checked]="model.formGroup.controls['canBuy'].value === 1" type="checkbox" formControlName="canBuy" class="form-check-input" id="canUse-form-canBuy">
                <label class="form-check-label" for="canUse-form-canBuy">Так</label>
              </div>


            </div>

          </div>

          <hr>

          <div class="d-flex justify-content-between">

            <h3>Назва та опис пропозиції для мови</h3>

            <button [class.disabled]="appService.languages.length === model.formGroup.controls.languages['controls'].length" class="btn btn-sm btn-success" (click)="model.addNewLanguageToForm()">
              Додати мову
            </button>

          </div>

          <fieldset formArrayName="languages">

            <div *ngFor="let nameLanguage of model.formGroup.controls.languages['controls']; let index = index">

              <hr>

              <div class="row mt-4">

                <div class="col-md-2">

                  <label class="form-check-label mr-1" for="name_language_code_{{ index }}">
                    Мова
                  </label>
                  <select class="form-control" id="name_language_code_{{ index }}" name="name_language_code_{{ index }}" [formControl]="nameLanguage.controls['languageCode']">
                    <option *ngFor="let language of appService.languages" [ngValue]="language.code">
                      {{ language.name }}
                    </option>
                  </select>

                </div>

                <div class="{{ model.formGroup.controls.languages['controls'].length > 1 ? 'col-md-8' : 'col-md-10' }}">

                  <label class="d-flex justify-content-between form-check-label mr-1" for="title_language_name_{{ index }}">
                    Назва пропозиції

                    <ng-container
                      *ngIf="nameLanguage.controls['title'].invalid && (nameLanguage.controls['title'].dirty || nameLanguage.controls['title'].touched || submitted)">

                      <small class="text-danger" *ngIf="nameLanguage.controls['title'].errors.required">

                        Поле не може бути пустим.

                      </small>

                    </ng-container>
                  </label>
                  <input type="text" class="form-control" id="title_language_name_{{ index }}" name="title_language_name_{{ index }}"
                         [formControl]="nameLanguage.controls['title']" placeholder="Назву писати в тій мові яка була вибрана">

                </div>
                <div class="col-md-2" *ngIf="model.formGroup.controls.languages['controls'].length > 1">
                  <br>
                  <button (click)="model.deleteFormLanguage(index)" class="btn btn-block btn-danger">
                    Видалити мову
                  </button>
                </div>

              </div>

              <div class="row mt-4">

                <div class="col-12">

                  <label class="d-flex justify-content-between form-check-label mr-1" for="description_language_name_{{ index }}">
                    Опис пропозиції (можна в html)

                    <ng-container
                      *ngIf="nameLanguage.controls['description'].invalid && (nameLanguage.controls['description'].dirty || nameLanguage.controls['description'].touched || submitted)">

                      <small class="text-danger" *ngIf="nameLanguage.controls['description'].errors.required">

                        Поле не може бути пустим.

                      </small>

                    </ng-container>
                  </label>
                  <angular-editor [formControl]="nameLanguage.controls['description']" [placeholder]="'Опис пропозиції писати на тій мові яка була вибрана'" id="description_language_name_{{ index }}"></angular-editor>
<!--                  <textarea type="text" class="form-control" id="description_language_name_{{ index }}" name="description_language_name_{{ index }}"-->
<!--                            [formControl]="nameLanguage.controls['description']" placeholder="Опис пропозиції писати на тій мові яка була вибрана"></textarea>-->

                </div>

              </div>

              <div class="row mt-4">

                <div class="col-12">

                  <label class="form-check-label mr-1" for="descriptionRequirements_language_name_{{ index }}">
                    Вимоги пропозиції (можна в html)
                  </label>
                  <angular-editor [formControl]="nameLanguage.controls['descriptionRequirements']" id="descriptionRequirements_language_name_{{ index }}" [placeholder]="'Вимоги пропозиції писати на тій мові яка була вибрана, це поле не є обо`язковим'"></angular-editor>
<!--                  <textarea type="text" class="form-control" id="descriptionRequirements_language_name_{{ index }}" name="descriptionRequirements_language_name_{{ index }}"-->
<!--                            [formControl]="nameLanguage.controls['descriptionRequirements']" placeholder="Вимоги пропозиції писати на тій мові яка була вибрана, це поле не є обо`язковим"></textarea>-->

                </div>

              </div>

            </div>

          </fieldset>

          <hr>

          <ng-container *ngIf="model._isNew; else isNotNew">

            <div class="row">

              <div class="col-md-12">
                <hr>
              </div>

              <div class="col-md-4 mb-2">
                <button (click)="saveDocument()" class="btn btn-block btn-success">
                  <i class="fas fa-save"></i> Запиши
                </button>
              </div>
              <div class="col-md-4 mb-2">

                <button (click)="saveDocument(true)" class="btn btn-block btn-success">
                  <i class="fas fa-save"></i>&nbsp;<i class="fas fa-list"></i> Запиши і повернись до списку
                </button>
              </div>
              <div class="col-md-4 mb-2">

                <button (click)="saveDocument(false, true)" class="btn btn-block btn-success">
                  <i class="fas fa-save"></i>&nbsp;<i class="fas fa-plus-circle"></i> Запиши і додати наступний
                </button>
              </div>

            </div>

          </ng-container>
          <ng-template #isNotNew>

            <input (click)="saveDocument()" type="submit" class="btn btn-success btn-block" value="Запиши">

          </ng-template>

        </form>

      </div>
    </div>

  </ng-container>


</div>
