<div id="app-admin-panel-company-module-members-component">
  <!-- DataTales Example -->
  <div class="card shadow mt-4">
    <app-karba-title
      [coreId]="id"
      [pageId]="pageId"
      [loading]="loading"
      (clickOnRefreshBtn)="clickOnRefreshBtn()"
      (clickOnCollapseBtn)="clickOnCollapseBtn()"
      [initHideBody]="initHideBody"
      title="QR code"
      [showTotal]="initialized && collapseContent"
      [total]="filterQrCode.total">

      <button class="btn btn-sm btn-primary" (click)="initSelectedItem()" data-toggle="modal"
              [attr.data-target]="'#selectedItem-' + id">
        <i class="fas fa-plus-circle"></i>
      </button>

    </app-karba-title>
    <div class="card-body" [class.collapse]="initHideBody" [class.show]="!initHideBody" id="card-body-{{ id }}">
      <div [class.filter-panel]="isDesktop" [class.mb-4]="!isDesktop" class="row">
        <div class="col-sm-12 col-md-2 pr-0">
          <label>
            Статус
            <select (change)="doFiltering()" [(ngModel)]="filterQrCode.status" name="status"
                    class="custom-select custom-select-sm form-control form-control-sm">
              <option [ngValue]="null">Всі</option>
              <option [ngValue]="2">Опубліковані</option>
              <option [ngValue]="1">Неопубліковані</option>
              <option [ngValue]="0">Заблаковані</option>
            </select>
          </label>
        </div>
        <div class="col-sm-12 col-md-1 pr-0">
          <label>
            Кількість
            <select (change)="doFiltering()" [(ngModel)]="filterQrCode.count" name="count"
                    class="custom-select custom-select-sm form-control form-control-sm">
              <option [ngValue]="25">25</option>
              <option [ngValue]="50">50</option>
              <option [ngValue]="75">75</option>
              <option [ngValue]="100">100</option>
            </select>
          </label>
        </div>
        <div class="col-sm-12 col-md-3">

          <label for="pagination">
            Сторінки <small class="text-muted">({{ filterQrCode.lastPage }})</small>
            <div class="pagination" id="pagination">

              <div class="btn-group btn-group-sm">

                <button [disabled]="filterQrCode.actualPage === 1" class="btn btn-outline-secondary"
                        (click)="filterQrCode.goToFirstPage(); doFiltering(false)">
                  <i class="fas fa-angle-double-left"></i>
                </button>

                <button
                  *ngFor="let page of filterQrCode.pageList"
                  class="btn"
                  [class.btn-outline-secondary]="page !== filterQrCode.actualPage"
                  [class.btn-primary]="page === filterQrCode.actualPage"
                  (click)="filterQrCode.changePage(page); doFiltering(false)">

                  {{ page }}

                </button>

                <button [disabled]="filterQrCode.actualPage === filterQrCode.lastPage"
                        class="btn btn-outline-secondary"
                        (click)="filterQrCode.goToLastPage(); doFiltering(false)">
                  <i class="fas fa-angle-double-right"></i>
                </button>

              </div>

            </div>
          </label>

        </div>
      </div>
      <ng-container *ngIf="isDesktop; else isNotDesktop">
        <div class="filter-panel-shadow"></div>
        <table class="table table-bordered">
          <thead>
          <tr>
            <th>ID</th>
            <th>Тип</th>
            <th>Назва</th>
            <th>Кількість використань</th>
            <th>Статус</th>
            <th>Меню</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let qrCode of qrCodes; let index = index">
            <td>
              {{ qrCode.id }}
            </td>
            <td>
              <span class="badge badge-dark">{{ type(qrCode.type) }}</span>
            </td>
            <td>
              {{ qrCode.code_name }}
            </td>
            <td>
              {{ qrCode.amount_of_uses }}
            </td>
            <td>
              <span class="badge" [class.badge-success]="qrCode.status === 2" [class.badge-danger]="qrCode.status === 1">
                {{ getStatusName(qrCode.status) }}
              </span>
            </td>
            <td>
              <div class="btn-group">

                <button data-toggle="modal"
                        [attr.data-target]="'#selectedItem-' + id"
                        title="Редагувати"
                        (click)="initSelectedItem(qrCode)"
                        class="btn btn-sm btn-primary">
                  <i class="fas fa-edit"></i>
                </button>
                <button data-toggle="modal"
                        [attr.data-target]="'#selectedItemView-' + id"
                        (click)="initSelectedItem(qrCode)"
                        title="Переглянути"
                        class="btn btn-sm btn-info">
                  <i class="far fa-eye"></i>
                </button>

              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </ng-container>
      <ng-template #isNotDesktop>

        <ng-container *ngFor="let qrCode of qrCodes; let index = index">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">
                ID: {{ qrCode.id }}
              </h4>
              <div class="card-text">

                <div>
                  <strong>Тип: </strong>
                  <span class="badge badge-pill">{{ type(qrCode.type) }}</span>
                </div>
                <div>
                  <strong>Назва: </strong>
                  {{ qrCode.code_name }}
                </div>
                <div>
                  <strong>Кількість використань: </strong>
                  {{ qrCode.amount_of_uses }}
                </div>
                <div>
                  <strong>Статус: </strong>
                  <span class="badge" [class.badge-success]="qrCode.status === 2" [class.badge-danger]="qrCode.status === 1">
                {{ getStatusName(qrCode.status) }}
              </span>
                </div>
                <div class="btn-group d-flex mt-2">
                  <button data-toggle="modal"
                          [attr.data-target]="'#selectedItem-' + id"
                          title="Редагувати"
                          (click)="initSelectedItem(qrCode)"
                          class="btn btn-sm btn-primary w-100">
                    <i class="fas fa-edit"></i>
                  </button>
                  <button data-toggle="modal"
                          [attr.data-target]="'#selectedItemView-' + id"
                          (click)="initSelectedItem(qrCode)"
                          title="Переглянути"
                          class="btn btn-sm btn-info w-100">
                    <i class="far fa-eye"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </ng-template>

      <span class="text-muted">
        Статистика по використаню qr-code працює виключно для типу "Динамічне посилання", оскільки це єдний тип який вимагає наявність інтернету.
      </span>

    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="selectedItem-{{ id }}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title"
              id="selectedItemLabel">{{ selectedItem._isNew ? 'Додавання нового' : 'Редагування' }} QR code</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <ng-container *ngIf="initializedForm">

            <form [formGroup]="selectedItem.formGroup" class="form-group">

              <div class="row">

                <!-- Start Input -->

                <div class="col-md-7">


                  <label class="d-flex justify-content-between form-check-label" for="company-qr-code-form-type">
                    <strong>Тип</strong>

                    <ng-container
                      *ngIf="selectedItem.formGroup.controls['type'].invalid && (selectedItem.formGroup.controls['type'].dirty || selectedItem.formGroup.controls['type'].touched)">

                      <small class="text-danger" *ngIf="selectedItem.formGroup.controls['type'].errors.required">

                        Поле не може бути пустим.

                      </small>

                    </ng-container>

                  </label>

                  <!--              <input class="color form-control" id="company-qr-code-form-type" name="type" formControlName="type"/>-->

                  <select class="form-control" id="company-qr-code-form-type" name="type" formControlName="type">
                    <option *ngFor="let type of type(null); let index = index" [value]="index" [disabled]="index === 0">{{ type }}</option>
                  </select>


                </div>

                <!-- END Input -->
                <!-- Start Input -->

                <div class="col-md-5">


                  <label class="d-flex justify-content-between form-check-label" for="company-qr-code-form-status">
                    <strong>Статус</strong>

                    <ng-container
                      *ngIf="selectedItem.formGroup.controls['status'].invalid && (selectedItem.formGroup.controls['status'].dirty || selectedItem.formGroup.controls['status'].touched)">

                      <small class="text-danger" *ngIf="selectedItem.formGroup.controls['status'].errors.required">

                        Поле не може бути пустим.

                      </small>

                    </ng-container>

                  </label>

                  <select id="company-qr-code-form-status" formControlName="status" class="form-control">
                    <option [ngValue]="null" disabled>Виберіть статус</option>
                    <option [ngValue]="1">Неопублікований</option>
                    <option [ngValue]="2">Опублікований</option>
                  </select>


                </div>

                <!-- END Input -->

              </div>

              <hr>

              <ng-container *ngFor="let field of selectedItem._listOfFields">

                <ng-container *ngIf="selectedItem.checkFieldForType(field.name) && field.isShow">

                  <div class="row mt-2">


                    <!-- Start Input -->

                    <div class="col-md-12">


                      <label class="d-flex justify-content-between form-check-label" for="company-qr-code-form-{{ field.name }}">
                        <strong>{{ field.label }}</strong>

                        <ng-container
                          *ngIf="selectedItem.formGroup.controls[field.name].invalid && (selectedItem.formGroup.controls[field.name].dirty || selectedItem.formGroup.controls[field.name].touched)">

                          <small class="text-danger" *ngIf="selectedItem.formGroup.controls[field.name].errors.required">

                            Поле не може бути пустим.

                          </small>

                        </ng-container>

                      </label>

                      <input class="color form-control" id="company-qr-code-form-{{ field.name }}" name="{{ field.name }}" formControlName="{{ field.name }}" placeholder="{{ field.placeholder }}"/>


                    </div>

                    <!-- END Input -->

                  </div>

                </ng-container>

              </ng-container>

            </form>

          </ng-container>


        </div>
        <div class="modal-footer d-flex justify-content-between">
          <button
            id="app-admin-panel-company-module-members-component-cancel-button-modal"
            type="button"
            class="btn btn-light"
            data-dismiss="modal">
            Скасувати
          </button>
          <button
            (click)="deleteMember()"
            type="button"
            *ngIf="!selectedItem._isNew"
            class="btn btn-danger"
            data-dismiss="modal">
            Видалити
          </button>
          <button
            (click)="saveMember()"
            type="button"
            class="btn btn-success"
            data-dismiss="modal">
            Зберігти
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="selectedItemView-{{ id }}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{{ selectedItem.code_name }}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <ng-container *ngIf="initializedForm">


            <div class="row">

              <!-- Start Input -->

              <div class="col-md-7">


                <label class="d-flex justify-content-between form-check-label" for="company-qr-code-form-type">
                  <strong>Тип</strong>
                  <span class="badge badge-dark">{{ type(selectedItem.type) }}</span>
                </label>


              </div>

              <!-- END Input -->
              <!-- Start Input -->

              <div class="col-md-5">


                <label class="d-flex justify-content-between form-check-label" for="company-qr-code-form-status">
                  <strong>Статус</strong>
                  <span class="badge" [class.badge-success]="selectedItem.status === 2" [class.badge-danger]="selectedItem.status === 1">
                    {{ getStatusName(selectedItem.status) }}
                  </span>

                </label>


              </div>

              <!-- END Input -->

            </div>

            <hr>

            <ng-container *ngFor="let field of selectedItem._listOfFields">

              <ng-container *ngIf="selectedItem.checkFieldForType(field.name) && field.isShow">

                <div class="row mt-2">


                  <!-- Start Input -->

                  <div class="col-md-12">


                    <label class="d-flex justify-content-between form-check-label" for="company-qr-code-form-{{ field.name }}">
                      <strong>{{ field.label }}</strong>

                      {{ selectedItem.formGroup.get(field.name).value }}

                    </label>


                  </div>

                  <!-- END Input -->

                </div>

              </ng-container>

            </ng-container>

            <hr>

            <div class="row">

              <div class="col-md-12">


                <strong>Переглянути і завантажити QR-code</strong>

                <div class="btn-group">

                  <a target="_blank" class="btn btn-primary" href="/qr-code-image/{{ selectedItem.id }}?size=75">

                    75px

                  </a>

                  <a target="_blank" class="btn btn-primary" href="/qr-code-image/{{ selectedItem.id }}?size=150">

                    150px

                  </a>

                  <a target="_blank" class="btn btn-primary" href="/qr-code-image/{{ selectedItem.id }}?size=300">

                    300px

                  </a>

                  <a target="_blank" class="btn btn-primary" href="/qr-code-image/{{ selectedItem.id }}?size=720">

                    720px

                  </a>

                  <a target="_blank" class="btn btn-primary" href="/qr-code-image/{{ selectedItem.id }}?size=1024">

                    1024px

                  </a>

                  <a target="_blank" class="btn btn-primary" href="/qr-code-image/{{ selectedItem.id }}?size=2048">

                    2048px

                  </a>

              </div>

              </div>

            </div>

          </ng-container>

        </div>
        <div class="modal-footer d-flex justify-content-between">
          <button
            type="button"
            class="btn btn-block btn-light"
            data-dismiss="modal">
            Закрити
          </button>
        </div>
      </div>
    </div>
  </div>


</div>
