.image-logo {

  position: relative;
  width: 100px;
  height: 100px;

  &:after {

    color: white;
    content: "Click for change";
    visibility:hidden;
    opacity:0;
    -webkit-transition: isibility 0.3s linear,opacity 0.3s linear, color .5s, font-size .5s;
    -moz-transition: isibility 0.3s linear,opacity 0.3s linear, color .5s, font-size .5s;
    -o-transition: isibility 0.3s linear,opacity 0.3s linear, color .5s, font-size .5s;
    transition: isibility 0.3s linear,opacity 0.3s linear, color .5s, font-size .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);

  }

  &:hover {

    &:after {
      visibility:visible;
      opacity:1;

    }

  }

}
