

<ng-container *ngIf="document === null">

  <div class="loader d-none">
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>

</ng-container>

<ng-container *ngIf="document !== null">

  <div class="col-12">

    <div class="row">

      <!-- Earnings (Monthly) Card Example -->
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Статус</div>
                <div class="h5 mb-0 font-weight-bold text-gray-800">
                  {{ getStatusName(document.status) }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>

  <!-- DataTales Example -->
  <div class="card shadow mt-4">
    <div class="card-header">
      <div class="d-flex justify-content-between">

        <a href="#/business/notification" id="btn-back" class="btn btn-link btn-sm">
        <h6 class="m-0 font-weight-bold text-primary">

            <i class="fas fa-angle-left"></i>
            ID: {{ document.id }}

        </h6>
        </a>
        <div class="d-flex justify-content-between">
          <button (click)="sendPushNotification()" class="btn btn-sm btn-primary mr-2" title="Push-notification">
            Відправити повідомлення на пристрої
          </button>
          <a href="#/business/notification/update/{{ paramID }}" class="btn btn-sm btn-primary" title="Редагувати">
            <i class="fas fa-edit"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="loader d-none">
        <div class="spinner-border" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>

      <div class="row">

        <div class="col-md-3">
          <strong>ID</strong>
          <p>{{ document.id }}</p>
        </div>
        <div class="col-md-3">
          <strong>Запланована дата</strong>
          <p>{{ document.scheduledDate ? document.scheduledDate : '-' }}</p>
        </div>
        <div class="col-md-3">
          <strong>Дата створення</strong>
          <p>{{ document.createdAt }}</p>
        </div>
        <div class="col-md-3">
          <strong>Дата оновлення</strong>
          <p>{{ document.createdAt }}</p>
        </div>

      </div>

      <hr>

      <div class="row">

        <div class="col-md-12">

          <strong>Теми (topics)</strong>
          <p>
            {{ document.topics.join(', ') }}
          </p>

        </div>

      </div>

      <hr>

      <div class="row">

        <div class="col-md-12">

          <strong>Локалізація</strong>
          <p>
            {{ localitiesName(document.localities) }}
          </p>

        </div>

      </div>

      <hr>

      <div class="row">

        <ng-container *ngFor="let language of document.languages">

          <div class="col-md-12">

            <strong class="text-muted">Мова</strong>
            <h4>
              {{ languageName(language.languageCode) }}
            </h4>

          </div>

          <div class="col-md-12">

            <strong class="text-muted">Назва</strong>
            <p>
              {{ language.title }}
            </p>

          </div>

          <div class="col-md-12">

            <strong class="text-muted">Текст</strong>
            <p>
              {{ language.body }}
            </p>

            <hr>

          </div>

        </ng-container>

      </div>

    </div>

  </div>

</ng-container>
