<div id="app-admin-panel-offer-module-code-component">

  <!-- DataTales Example -->
  <div class="card shadow mt-4">
    <app-karba-title
      [coreId]="id"
      [pageId]="pageId"
      [loading]="loading"
      (clickOnRefreshBtn)="clickOnRefreshBtn()"
      (clickOnCollapseBtn)="clickOnCollapseBtn()"
      [initHideBody]="initHideBody"
      title="Покупки"
      [showTotal]="initialized && collapseContent"
      [total]="filter.total">

      <div class="btn-group">

<!--        <button class="btn btn-sm btn-info">-->
<!--          Імортувати коди-->
<!--        </button>-->

        <button class="btn btn-sm btn-primary" (click)="initFormGroup()" data-toggle="modal" [attr.data-target]="'#selectedItem-' + id">
          <i class="fas fa-plus-circle"></i>
        </button>

      </div>

    </app-karba-title>
    <div class="card-body" [class.collapse]="initHideBody" [class.show]="!initHideBody" id="card-body-{{ id }}">


      <div [class.filter-panel]="isDesktop" [class.mb-4]="!isDesktop" class="row">

        <div class="col-sm-12 col-md-3 pr-0">
          <label class="w-100">
            Пошук
            <input placeholder="Пошук по покупках" class="form-control form-control-sm" type="search" (change)="doFiltering()" [(ngModel)]="filter.search" name="search">
          </label>
        </div>

        <div class="col-sm-12 col-md-2 pr-0">
          <label class="w-100">
            Статус
            <select (change)="doFiltering()" [(ngModel)]="filter.status" name="status"
                    class="custom-select custom-select-sm form-control form-control-sm">
              <option [ngValue]="null">Всі</option>
              <option [ngValue]="2">Опубліковані</option>
              <option [ngValue]="1">Неопубліковані</option>
              <option [ngValue]="0">Заблаковані</option>
            </select>
          </label>
        </div>
        <div class="col-sm-12 col-md-1 pr-0">
          <label class="w-100">
            Кількість
            <select (change)="doFiltering()" [(ngModel)]="filter.count" name="count"
                    class="custom-select custom-select-sm form-control form-control-sm">
              <option [ngValue]="25">25</option>
              <option [ngValue]="50">50</option>
              <option [ngValue]="75">75</option>
              <option [ngValue]="100">100</option>
            </select>
          </label>
        </div>
        <div class="col-sm-12 col-md-3">

          <label for="pagination" class="w-100">
            Сторінки <small class="text-muted">({{ filter.lastPage }})</small>
            <div class="pagination" id="pagination">

              <div class="btn-group btn-group-sm" role="group">

                <button [disabled]="filter.actualPage === 1" class="btn btn-outline-secondary"
                        (click)="filter.goToFirstPage(); doFiltering(false)">
                  <i class="fas fa-angle-double-left"></i>
                </button>

                <button
                  *ngFor="let page of filter.pageList"
                  class="btn"
                  [class.btn-outline-secondary]="page !== filter.actualPage"
                  [class.btn-primary]="page === filter.actualPage"
                  (click)="filter.changePage(page); doFiltering(false)">

                  {{ page }}

                </button>

                <button [disabled]="filter.actualPage === filter.lastPage"
                        class="btn btn-outline-secondary"
                        (click)="filter.goToLastPage(); doFiltering(false)">
                  <i class="fas fa-angle-double-right"></i>
                </button>

              </div>

            </div>
          </label>

        </div>
      </div>
      <ng-container *ngIf="isDesktop; else isNotDesktop">

        <div class="filter-panel-shadow"></div>
        <table class="table table-bordered sticky sticky-columns-7">
          <thead>
          <tr>
            <th>Код</th>
            <th>Статус</th>
            <th>Код пропозиції</th>
            <th>Куплено</th>
            <th>Оновленно</th>
            <th>Статус</th>
            <th>Дія</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let document of documents; let index = index">
            <td>
              {{ document.id }}
            </td>
            <td>
              <span *ngIf="document.user.email !== undefined && document.user.email !== null && document.user.email.length > 0" class="badge badge-dark mr-2 mb-2 can-wrap">
                {{ document.user.email }}
              </span>
              <span *ngIf="document.user.login !== undefined && document.user.login !== null && document.user.login.length > 0" class="badge badge-dark mr-2 mb-2 can-wrap">
                {{ document.user.login }}
              </span>
              <span *ngIf="document.user.phone !== undefined && document.user.phone !== null && document.user.phone.length > 0" class="badge badge-dark mr-2 mb-2 can-wrap">
                {{ document.user.phone }}
              </span>
            </td>
            <td>
              <span class="badge badge-dark can-wrap">{{ document.code }}</span>
            </td>
            <td>
              {{ document.createdAt }}
            </td>
            <td>
              {{ document.updatedAt }}
            </td>
            <td>
              <span class="badge {{ document.status === 3 ? 'badge-success': document.status === 2 ? 'badge-primary' : document.status === 1 ? 'badge-warning' : 'badge-danger' }}">
                <i title="{{ getStatusName(document.status) }}" *ngIf="document.status === 3" class="fas fa-check-circle"></i>
                <i title="{{ getStatusName(document.status) }}" *ngIf="document.status === 2" class="fas fa-check-circle"></i>
                <i title="{{ getStatusName(document.status) }}" *ngIf="document.status === 1" class="fas fa-clock"></i>
                <i title="{{ getStatusName(document.status) }}" *ngIf="document.status === 0" class="fas fa-lock"></i>
                {{ getStatusName(document.status) }}
              </span>
            </td>
            <td>
              <div class="btn-group-vertical btn-group-sm">

                <ng-container *ngIf="document.status === 2;">

                  <button class="btn btn-sm btn-success" (click)="changeStatus(3, document)">Використано</button>

                </ng-container>
                <button title="Перегляд" (click)="selectedDocument = document" class="btn btn-block btn-sm btn-outline-info" data-toggle="modal" [attr.data-target]="'#selectedItemForView-' + id">
                  <i class="far fa-eye"></i>
                </button>

              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </ng-container>
      <ng-template #isNotDesktop>

        <div class="row">
          <div class="col-md-4">
            <ng-container *ngFor="let document of documents; let index = index">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">
                    ID: {{ document.id }}
                  </h4>
                  <div class="card-text">


                    <div>
                      <span *ngIf="document.user.email !== undefined && document.user.email !== null && document.user.email.length > 0" class="badge badge-dark mr-2 mb-2 can-wrap">
                        {{ document.user.email }}
                      </span>
                              <span *ngIf="document.user.login !== undefined && document.user.login !== null && document.user.login.length > 0" class="badge badge-dark mr-2 mb-2 can-wrap">
                        {{ document.user.login }}
                      </span>
                              <span *ngIf="document.user.phone !== undefined && document.user.phone !== null && document.user.phone.length > 0" class="badge badge-dark mr-2 mb-2 can-wrap">
                        {{ document.user.phone }}
                      </span>
                    </div>
                    <div>
                      <span class="badge badge-dark can-wrap">{{ document.code }}</span>
                    </div>
                    <div>
                      {{ document.createdAt }}
                    </div>
                    <div>
                      {{ document.updatedAt }}
                    </div>
                    <div>
                      <span class="badge {{ document.status === 3 ? 'badge-success': document.status === 2 ? 'badge-primary' : document.status === 1 ? 'badge-warning' : 'badge-danger' }}">
                        <i title="{{ getStatusName(document.status) }}" *ngIf="document.status === 3" class="fas fa-check-circle"></i>
                        <i title="{{ getStatusName(document.status) }}" *ngIf="document.status === 2" class="fas fa-check-circle"></i>
                        <i title="{{ getStatusName(document.status) }}" *ngIf="document.status === 1" class="fas fa-clock"></i>
                        <i title="{{ getStatusName(document.status) }}" *ngIf="document.status === 0" class="fas fa-lock"></i>
                        {{ getStatusName(document.status) }}
                      </span>
                    </div>
                    <div>
                      <div class="btn-group-vertical btn-group-sm">

                        <ng-container *ngIf="document.status === 2;">

                          <button class="btn btn-sm btn-success" (click)="changeStatus(3, document)">Використано</button>

                        </ng-container>
                        <button title="Перегляд" (click)="selectedDocument = document" class="btn btn-block btn-sm btn-outline-info" data-toggle="modal" [attr.data-target]="'#selectedItemForView-' + id">
                          <i class="far fa-eye"></i>
                        </button>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </ng-template>

      <small class="text-muted">
        * Для кодів потрібно додавати префікс, бо якщо код вже був створений, то його просто не додасть.
      </small>

    </div>
  </div>

  <ng-container *ngIf="addCodeFormGroup !== undefined">

    <!-- Modal  -->
    <div class="modal fade" id="selectedItem-{{ id }}" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">
              Додавання покупки
            </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">

            <form [formGroup]="addCodeFormGroup" class="form-group">

              <div class="row">

                <!-- Start Input -->

                <div class="col-md-6">

                  <label class="d-flex justify-content-between" for="code-form-code">
                    Код:

                    <ng-container
                      *ngIf="addCodeFormGroup.controls['code'].invalid && (addCodeFormGroup.controls['code'].dirty || addCodeFormGroup.controls['code'].touched)">

                      <small class="text-danger" *ngIf="addCodeFormGroup.controls['code'].errors.required">

                        Поле не може бути пустим.

                      </small>

                    </ng-container>

                  </label>

                  <input class="form-control" id="code-form-code" name="code" type="text" formControlName="code" placeholder="SALO_SALE">


                </div>

                <!-- END Input -->

                <!-- Start Input -->

                <div class="col-md-6">

                  <label class="d-flex justify-content-between" for="code-form-status">
                    Статус:

                    <ng-container
                      *ngIf="addCodeFormGroup.controls['status'].invalid && (addCodeFormGroup.controls['status'].dirty || addCodeFormGroup.controls['status'].touched)">

                      <small class="text-danger" *ngIf="addCodeFormGroup.controls['status'].errors.required">

                        Поле не може бути пустим.

                      </small>

                    </ng-container>

                  </label>

                  <select class="form-control" name="type" id="code-form-status" formControlName="status">
                    <option [ngValue]="1">Неопублікований</option>
                    <option [ngValue]="2">Опублікований</option>
                  </select>


                </div>

                <!-- END Input -->

              </div>

            </form>

          </div>
          <div class="modal-footer d-flex justify-content-between">
            <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Закрити</button>
            <button type="button" class="btn btn-outline-success" data-dismiss="modal" (click)="save()">Додати</button>
          </div>
        </div>
      </div>
    </div>

  </ng-container>

  <ng-container *ngIf="selectedDocument !== undefined">

    <!-- Modal  -->
    <div class="modal fade" id="selectedItemForView-{{ id }}" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">
              Перегляд покупки
            </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">

            <ul class="list-group">
              <li class="list-group-item">ІД: {{ selectedDocument.id }}</li>
              <li class="list-group-item">Код: <span class="badge badge-dark can-wrap">{{ selectedDocument.code }}</span></li>
              <li class="list-group-item">
                Дані:
                <span *ngIf="selectedDocument.user.email !== undefined && selectedDocument.user.email !== null && selectedDocument.user.email.length > 0" class="badge badge-dark mr-2 mb-2 can-wrap">
                  {{ selectedDocument.user.email }}
                </span>
                  <span *ngIf="selectedDocument.user.login !== undefined && selectedDocument.user.login !== null && selectedDocument.user.login.length > 0" class="badge badge-dark mr-2 mb-2 can-wrap">
                  {{ selectedDocument.user.login }}
                </span>
                  <span *ngIf="selectedDocument.user.phone !== undefined && selectedDocument.user.phone !== null && selectedDocument.user.phone.length > 0" class="badge badge-dark mr-2 mb-2 can-wrap">
                  {{ selectedDocument.user.phone }}
                </span>
              </li>
              <li class="list-group-item">Статус:
                <span class="badge {{ selectedDocument.status === 3 ? 'badge-success': selectedDocument.status === 2 ? 'badge-primary' : selectedDocument.status === 1 ? 'badge-warning' : 'badge-danger' }}">
                  <i title="{{ getStatusName(selectedDocument.status) }}" *ngIf="selectedDocument.status === 3" class="fas fa-check-circle"></i>
                  <i title="{{ getStatusName(selectedDocument.status) }}" *ngIf="selectedDocument.status === 2" class="fas fa-check-circle"></i>
                  <i title="{{ getStatusName(selectedDocument.status) }}" *ngIf="selectedDocument.status === 1" class="fas fa-clock"></i>
                  <i title="{{ getStatusName(selectedDocument.status) }}" *ngIf="selectedDocument.status === 0" class="fas fa-lock"></i>
                  {{ getStatusName(selectedDocument.status) }}
                </span>
              </li>
              <li class="list-group-item">Куплено: {{ selectedDocument.createdAt }}</li>
              <li class="list-group-item">Оновлено: {{ selectedDocument.updatedAt }}</li>
              <li class="list-group-item">
                <button class="btn btn-info btn-block" data-dismiss="modal" [routerLink]="['/business', 'user', 'view', selectedDocument.userId]">
                  Переглянути покупці
                </button>
              </li>
            </ul>

          </div>
          <div class="modal-footer d-flex justify-content-between">
            <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Закрити</button>
          </div>
        </div>
      </div>
    </div>

  </ng-container>


</div>
