<div id="sidebar" [class.show-sidebar]="adminService.showSidebar">

  <!-- ============================================================== -->
  <!-- Left Sidebar - style you can find in sidebar.scss  -->
  <!-- ============================================================== -->
  <aside class="left-sidebar">
    <div class="d-flex no-block nav-text-box align-items-center">
      <span>

        <img src="assets/images/logo/logo-lg_opt.png" height="45px" alt="Salo-Sale">

      </span>
      <a (click)="adminService.toggleSidebar()"
         class="nav-lock waves-effect waves-dark ml-auto hidden-md-down" href="javascript:void(0)"><i
        class="mdi mdi-toggle-switch" [class.mdi-toggle-switch-on]="adminService.showSidebar"
        [class.mdi-toggle-switch-off]="!adminService.showSidebar"></i></a>
      <a class="nav-toggler waves-effect waves-dark ml-auto hidden-sm-up" href="javascript:void(0)"><i
        class="ti-menu ti-close"></i></a>
    </div>
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
      <!-- Sidebar navigation-->
      <nav class="sidebar-nav">
        <ul id="sidebarnav">

          <li>

            <div class="text-white text-left">

              <span class="pr-3">Компанія</span>

              <ng-container *ngIf="authService.user.companies.length > 1; else lengthCompaniesIsSmall">

                <ng-select [items]="authService.user.companies"
                           [ngModel]="authService.user.selectedCompany.id"
                           (change)="changeSelectedCompany($event)"
                           placeholder="Заклад"
                           class="form-control"
                           [clearable]="false"
                           id="search-{{ id }}"
                           bindValue="id"
                           bindLabel="name">
                </ng-select>

              </ng-container>
              <ng-template #lengthCompaniesIsSmall>

                <strong>{{ authService.user.selectedCompany.name }}</strong>

              </ng-template>

            </div>

          </li>

          <!-- Nav Item - Dashboard -->
          <ng-container *ngFor="let route of routes">

            <ng-container *ngIf="route.data.isShow">


              <li>
                <a class="waves-effect waves-dark" [routerLink]="route.data.parentPath + route.path + (route.data.openView ? route.path === 'company' ? '/view/' + authPanelService.authService.user.selectedCompany.id : '' : '')" routerLinkActive="active" [routerLinkActiveOptions]="{exact: route.data.exact}" aria-expanded="false">
                  <i class="{{ route.data.icon }}"></i>
                  <span>{{ route.data.title }}</span>
                </a>
              </li>

            </ng-container>

            <ng-container *ngIf="route.children !== undefined && route.children.length > 0">

              <ng-container *ngFor="let child of route.children">

                <ng-container *ngIf="child.data.isShow">

                  <li>
                    <a class="waves-effect waves-dark" [routerLink]="child.data.parentPath + child.path" routerLinkActive="active" [routerLinkActiveOptions]="{exact: child.data.exact}" aria-expanded="false">
                      <i class="{{ child.data.icon }}"></i>
                      <span>{{ child.data.title }}</span>
                    </a>
                  </li>

                </ng-container>

              </ng-container>

            </ng-container>

          </ng-container>

        </ul>
      </nav>
      <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
  </aside>
  <!-- ============================================================== -->
  <!-- End Left Sidebar - style you can find in sidebar.scss  -->
  <!-- ============================================================== -->

</div>

