.nav-text-box {

  height: 66px;

}


nav {

  &.sidebar-nav {
    max-height: calc(100vh - 66px);
    overflow: auto;
    padding: 0;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */

    &::-webkit-scrollbar {
      display: none;

    }

  }

}

#sidebarnav {

  li {

    &:first-child {

      //border-bottom: 1px solid white;
      background-color: #0099FF;
      margin-top: 0;
      padding: 15px;

    }

  }

}
