<div id="app-admin-panel-company-module-contacts-component">
  <!-- DataTales Example -->
  <div class="card shadow mt-4">
    <app-karba-title
      [coreId]="id"
      [pageId]="pageId"
      [loading]="loading"
      (clickOnRefreshBtn)="clickOnRefreshBtn()"
      (clickOnCollapseBtn)="clickOnCollapseBtn()"
      [initHideBody]="initHideBody"
      title="Контакти"
      [showTotal]="initialized && collapseContent"
      [total]="filterContact.total">

      <button class="btn btn-sm btn-primary" (click)="initSelectedItem()" data-toggle="modal"
              [attr.data-target]="'#selectedItem-' + id">
        <i class="fas fa-plus-circle"></i>
      </button>

    </app-karba-title>
    <div class="card-body" [class.collapse]="initHideBody" [class.show]="!initHideBody" id="card-body-{{ id }}">
      <div [class.filter-panel]="isDesktop" [class.mb-4]="!isDesktop" class="row">
        <div class="col-sm-12 col-md-2 pr-0">
          <label>
            Статус
            <select (change)="doFiltering()" [(ngModel)]="filterContact.status" name="status"
                    class="custom-select custom-select-sm form-control form-control-sm">
              <option [ngValue]="null">Всі</option>
              <option [ngValue]="2">Опубліковані</option>
              <option [ngValue]="1">Неопубліковані</option>
              <option [ngValue]="0">Заблаковані</option>
            </select>
          </label>
        </div>
        <div class="col-sm-12 col-md-1 pr-0">
          <label>
            Кількість
            <select (change)="doFiltering()" [(ngModel)]="filterContact.count" name="count"
                    class="custom-select custom-select-sm form-control form-control-sm">
              <option [ngValue]="25">25</option>
              <option [ngValue]="50">50</option>
              <option [ngValue]="75">75</option>
              <option [ngValue]="100">100</option>
            </select>
          </label>
        </div>
        <div class="col-sm-12 col-md-3">

          <label for="pagination">
            Сторінки <small class="text-muted">({{ filterContact.lastPage }})</small>
            <div class="pagination" id="pagination">

              <div class="btn-group btn-group-sm" role="group">

                <button [disabled]="filterContact.actualPage === 1" class="btn btn-outline-secondary"
                        (click)="filterContact.goToFirstPage(); doFiltering(false)">
                  <i class="fas fa-angle-double-left"></i>
                </button>

                <button
                  *ngFor="let page of filterContact.pageList"
                  class="btn"
                  [class.btn-outline-secondary]="page !== filterContact.actualPage"
                  [class.btn-primary]="page === filterContact.actualPage"
                  (click)="filterContact.changePage(page); doFiltering(false)">

                  {{ page }}

                </button>

                <button [disabled]="filterContact.actualPage === filterContact.lastPage"
                        class="btn btn-outline-secondary"
                        (click)="filterContact.goToLastPage(); doFiltering(false)">
                  <i class="fas fa-angle-double-right"></i>
                </button>

              </div>

            </div>
          </label>

        </div>
      </div>
      <ng-container *ngIf="isDesktop; else isNotDesktop">

        <div class="filter-panel-shadow"></div>
        <table class="table table-bordered">
          <thead>
          <tr>
            <th>ID</th>
            <th>Тип</th>
            <th>Назва</th>
            <th>Тільки назва</th>
            <th>Контакт</th>
            <th>Статус</th>
            <th>Меню</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let contact of contacts; let index = index">
            <td>
              {{ contact.id }}
            </td>
            <td>
              <span class="badge badge-dark">
                {{ typeContact(contact.type) }}
              </span>
            </td>
            <td>
              {{ contact.name }}
            </td>
            <td>
              {{ contact.hideValue === 1 ? 'Так' : 'Ні' }}
            </td>
            <td>
              {{ contact.value }}
            </td>
            <td>
              <span class="badge" [class.badge-success]="contact.status === 2" [class.badge-danger]="contact.status === 1">
                {{ getStatusName(contact.status) }}
              </span>
            </td>
            <td>
              <button data-toggle="modal"
                      [attr.data-target]="'#selectedItem-' + id"
                      (click)="initSelectedItem(contact)"
                      title="Редагувати"
                      class="btn btn-sm btn-primary">
                <i class="fas fa-edit"></i>
              </button>
            </td>
          </tr>
          </tbody>
        </table>
      </ng-container>
      <ng-template #isNotDesktop>

        <ng-container *ngFor="let contact of contacts; let index = index">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">
                ID: {{ contact.id }}
              </h4>
              <div class="card-text">

                <div>
                  <span class="badge badge-dark">
                    {{ typeContact(contact.type) }}
                  </span>
                </div>
                <div>
                  <strong>Назва</strong>
                  {{ contact.name }}
                </div>
                <div>
                  <strong>Тальки назва</strong>
                  {{ contact.hideValue === 1 ? 'Так' : 'Ні' }}
                </div>
                <div>
                  <strong>Значення</strong>
                  {{ contact.value }}
                </div>
                <div>
                  <strong>Статус</strong>
                  <span class="badge" [class.badge-success]="contact.status === 2" [class.badge-danger]="contact.status === 1">
                    {{ getStatusName(contact.status) }}
                  </span>
                </div>
                <div>
                  <button title="Редагувати"
                          data-toggle="modal"
                          [attr.data-target]="'#selectedItem-' + id"
                          (click)="initSelectedItem(contact)"
                          class="btn btn-sm btn-primary">
                    <i class="fas fa-edit"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </ng-template>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="selectedItem-{{ id }}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title"
              id="selectedItemLabel">Додавання нового контакту</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <form [formGroup]="selectedItem.formGroup" class="form-group">

            <div class="row">


              <!-- Start Input -->

              <div class="col-md-6">


                <label class="d-flex justify-content-between" for="company-contact-form-type">
                  <span>Тип:</span>

                  <ng-container
                    *ngIf="selectedItem.formGroup.controls['type'].invalid && (selectedItem.formGroup.controls['type'].dirty || selectedItem.formGroup.controls['type'].touched)">

                    <small class="text-danger" *ngIf="selectedItem.formGroup.controls['type'].errors.required">

                      Поле не може бути пустим.

                    </small>

                  </ng-container>

                </label>

                <!--              <input class="color form-control" id="company-contact-form-type" name="type" formControlName="type"/>-->

                <select class="form-control" id="company-contact-form-type" name="type" formControlName="type">
                  <option *ngFor="let type of typeContact(null); let index = index" [value]="index">{{ type }}</option>
                </select>


              </div>

              <!-- END Input -->

              <!-- Start Input -->

              <div class="col-md-6">

                <label class="d-flex justify-content-between form-check-label" for="canUse-form-hideValue">
                  <strong>Показати тільки назву?</strong>

                  <ng-container
                    *ngIf="selectedItem.formGroup.controls['hideValue'].invalid && (selectedItem.formGroup.controls['hideValue'].dirty || selectedItem.formGroup.controls['hideValue'].touched)">

                    <small class="text-danger" *ngIf="selectedItem.formGroup.controls['hideValue'].errors.required">

                      Поле не може бути пустим.

                    </small>

                  </ng-container>

                </label>

                <div class="form-group form-check">
                  <input [checked]="selectedItem.formGroup.controls['hideValue'].value === 1" type="checkbox" formControlName="hideValue" class="form-check-input" id="canUse-form-hideValue">
                  <label class="form-check-label" for="canUse-form-hideValue">Так</label>
                </div>

              </div>

              <!-- END Input -->

            </div>

            <div class="row mt-2">


              <!-- Start Input -->

              <div class="col-md-12">


                <label class="d-flex justify-content-between" for="company-contact-form-name">
                  <span>Назва: <small>(Не обов`язкове)</small></span>

                  <ng-container
                    *ngIf="selectedItem.formGroup.controls['name'].invalid && (selectedItem.formGroup.controls['name'].dirty || selectedItem.formGroup.controls['name'].touched)">

                    <small class="text-danger" *ngIf="selectedItem.formGroup.controls['name'].errors.required">

                      Поле не може бути пустим.

                    </small>

                  </ng-container>

                </label>

                <input class="color form-control" id="company-contact-form-name" name="name" formControlName="name"/>


              </div>

              <!-- END Input -->

            </div>

            <div class="row mt-2">


              <!-- Start Input -->

              <div class="col-md-12">


                <label class="d-flex justify-content-between" for="company-contact-form-value">
                  <span>Контакт:</span>

                  <ng-container
                    *ngIf="selectedItem.formGroup.controls['value'].invalid && (selectedItem.formGroup.controls['value'].dirty || selectedItem.formGroup.controls['value'].touched)">

                    <small class="text-danger" *ngIf="selectedItem.formGroup.controls['value'].errors.required">

                      Поле не може бути пустим.

                    </small>

                  </ng-container>

                </label>

                <input class="color form-control" id="company-contact-form-value" name="value" formControlName="value"/>


              </div>

              <!-- END Input -->

            </div>

            <div class="row mt-2">


              <!-- Start Input -->

              <div class="col-md-12">


                <label class="d-flex justify-content-between" for="company-contact-form-status">
                  <span>Статус:</span>

                  <ng-container
                    *ngIf="selectedItem.formGroup.controls['status'].invalid && (selectedItem.formGroup.controls['status'].dirty || selectedItem.formGroup.controls['status'].touched)">

                    <small class="text-danger" *ngIf="selectedItem.formGroup.controls['status'].errors.required">

                      Поле не може бути пустим.

                    </small>

                  </ng-container>

                </label>

                <select id="company-contact-form-status" formControlName="status" class="form-control">
                  <option [ngValue]="2">Опублікований</option>
                  <option [ngValue]="1">Неопублікований</option>
                </select>


              </div>

              <!-- END Input -->

            </div>

          </form>

        </div>
        <div class="modal-footer d-flex justify-content-between">
          <button
            id="app-admin-panel-company-contact-cancel-button-modal"
            type="button"
            class="btn btn-outline-secondary"
            data-dismiss="modal">
            Скасувати
          </button>
          <button
            (click)="deleteContact()"
            type="button"
            *ngIf="!selectedItem._isNew"
            class="btn btn-danger"
            data-dismiss="modal">
            Видалити
          </button>
          <button
            (click)="saveContact()"
            type="button"
            class="btn btn-success"
            data-dismiss="modal">
            Зберігти
          </button>
        </div>
      </div>
    </div>
  </div>


</div>
