// Sidebar

/*******************
Main sidebar
******************/

.left-sidebar {
    position: absolute;
    width: 260px;
    height: 100%;
    top: 0;
    left: -200px;
    z-index: 50;
    padding-top: 0;
    background: $sidebar;
    box-shadow: $shadow;

    transition: 0.3s ease-in;

    .nav-text-box{
        padding: 13px 25px 13px 15px;
        border-bottom: 1px solid $border-color;
    }
}



/*******************
sidebar navigation
******************/

.scroll-sidebar {
    height: calc(100% - 66px);
    position: relative;
    .ps-scrollbar-y-rail {
        left: 3px !important;
    }
}

.sidebar-nav {
    padding: 15px 0 0 0;
    ul {
        margin: 0;
        padding: 0;
        li {
            list-style: none;
            a {
                color: $sidebar-text;
                padding: 10px 15px 10px 15px;
                display: block;
                align-items: center;
                i{
                    float:$rgt;
                    font-style: normal;
                    width: 32px;
                    text-align: center;
                }
                &.active,
                &:hover {
                    color: $themecolor;
                    i {
                        color: $themecolor;

                    }
                }
                &.active {
                    color: $gray-800;
                }
            }
            ul {
                padding: 10px 0 10px 0;
                background:rgba(0, 0, 0, 0.02);

                li a {
                    padding: 7px 15px 7px 20px;
                }
                ul {
                    padding-left: 15px;
                }
            }
            &.nav-small-cap {
                font-size: 12px;
                margin-bottom: 0;
                margin: 20px 0 20px 0;
                color: $text-muted;
                height:1px;
                background: rgba(0, 0, 0, 0.1);
                font-weight: 500;
            }
            &.nav-devider {
                height: 1px;
                background: $border-color;
                display: block;
                margin: 15px 0;
            }
        }
    }
    > ul > li > a {

        i {

            font-size: 16px;

            margin-top: 3px;
            vertical-align: middle;
            color: $sidebar-icons;
        }
        .badge {
           margin-right: 7px;
           vertical-align: top;
        }
    }
    > ul > li {
        margin-bottom: 8px;
        margin-top: 8px;
        &.selected > a {
            color: $themecolor;
            i {
                color: $themecolor;
            }
        }
    }
    .waves-effect {
        transition: none;
        -webkit-transition: none;
        -o-transition: none;
    }

}

.sidebar-nav .has-arrow {
    position: relative;
    &::after {
        position: absolute;
        content: '';
        width: 7px;
        height: 7px;
        border-width: 1px 0 0 1px;
        border-style: solid;
        border-color: $sidebar-text;
        margin-left: 10px;
        -webkit-transform: rotate(135deg) translate(0, -50%);
        -ms-transform: rotate(135deg) translate(0, -50%);
        -o-transform: rotate(135deg) translate(0, -50%);
        transform: rotate(135deg) translate(0, -50%);
        -webkit-transform-origin: top;
        -ms-transform-origin: top;
        -o-transform-origin: top;
        transform-origin: top;
        top: 21px;
        -webkit-transition: all .3s ease-out;
        -o-transition: all .3s ease-out;
        transition: all .3s ease-out;
    }
}

/*.sidebar-nav .active > .has-arrow::after,*/
.sidebar-nav li.selected > .has-arrow::after,
.sidebar-nav li > .has-arrow.active::after,
.sidebar-nav .has-arrow[aria-expanded="true"]::after {
    -webkit-transform: rotate(-135deg) translate(0, -50%);
    -ms-transform: rotate(-135deg) translate(0, -50%);
    -o-transform: rotate(-135deg) translate(0, -50%);
    top: 42%;
    width: 7px;
    transform: rotate(-135deg) translate(0, -50%);
}
