

<ng-container *ngIf="model === undefined || model === null">

  <div class="loader">
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>

</ng-container>

<ng-container *ngIf="model !== undefined && model !== null">

  <!-- DataTales Example -->
  <div class="card shadow mt-4">
    <div class="card-header">
      <div class="d-flex justify-content-between">
        <h5 class="m-0 font-weight-bold text-primary">
          {{ model._isNew ? 'Додавання рекомендації вибраної пропозиції' : 'Редагування рекомендації' }}
        </h5>
        <a href="{{ '#/business/company/view/' + this.model.offerId }}" class="btn btn-sm btn-secondary">
          Відмінити
        </a>
      </div>
    </div>
    <div class="card-body">

      <form [formGroup]="model.formGroup" class="form-group" (ngSubmit)="save()">

        <div class="row">

          <!-- Start Input -->

          <div class="col-md-4">

            <label class="d-flex justify-content-between" for="company-form-position">
              <span>Черга: </span>

              <ng-container
                *ngIf="model.formGroup.controls['position'].invalid && (model.formGroup.controls['position'].dirty || model.formGroup.controls['position'].touched || submitted)">

                <small class="text-danger" *ngIf="model.formGroup.controls['position'].errors.required">

                  Поле не може бути пустим.

                </small>

              </ng-container>

            </label>

            <input class="form-control" id="company-form-position" name="position" type="text" formControlName="position" placeholder="Position">


          </div>

          <!-- END Input -->

          <div class="col-4" *ngIf="!model._isNew">

            <label for="advertising-banner-form-status">
              Статус
            </label>
            <select id="advertising-banner-form-status" formControlName="status" class="custom-select form-control">
              <option [ngValue]="null">Вибреи статус</option>
              <option [ngValue]="2">Опублікований</option>
              <option [ngValue]="1">Неопублікований</option>
            </select>

          </div>

        </div>

        <hr>

        <input type="submit" class="btn btn-success btn-block">

      </form>

    </div>
  </div>

</ng-container>
