<div id="app-admin-panel-contract-module-home-page">

  <!-- DataTales Example -->
  <div class="card shadow mt-4">
    <app-karba-title
      [coreId]="id"
      [pageId]="pageId"
      [loading]="loading"
      (clickOnRefreshBtn)="clickOnRefreshBtn()"
      (clickOnCollapseBtn)="clickOnCollapseBtn()"
      [initHideBody]="initHideBody"
      title="Контракти"
      [showTotal]="initialized && collapseContent"
      [total]="filter.total">


      <a href="#/business/contract/create/{{ companyId }}" class="btn btn-sm btn-primary">
        Додати новий контракт
      </a>

    </app-karba-title>
    <div class="card-body" [class.collapse]="initHideBody" [class.show]="!initHideBody" id="card-body-{{ id }}">
      <div class="filter-panel row">
        <div class="col-sm-12 col-md-2">
          <label>
            Кількість
            <select (change)="doFiltering()" [(ngModel)]="filter.count" name="count"
                    class="custom-select custom-select-sm form-control form-control-sm">
              <option [ngValue]="25">25</option>
              <option [ngValue]="50">50</option>
              <option [ngValue]="75">75</option>
              <option [ngValue]="100">100</option>
            </select>
          </label>
        </div>
        <div class="col-sm-12 col-md-2">
          <label>
            Статус
            <select (change)="doFiltering()" [(ngModel)]="filter.status" name="status"
                    class="custom-select custom-select-sm form-control form-control-sm">
              <option [ngValue]="null">Всі</option>
              <option [ngValue]="2">Опубліковані</option>
              <option [ngValue]="1">Неопубліковані</option>
              <option [ngValue]="0">Заблаковані</option>
            </select>
          </label>
        </div>
        <div class="col-sm-12 col-md-4">

          <label for="pagination">
            Сторінки <small class="text-muted">({{ filter.lastPage }})</small>
            <div class="pagination" id="pagination">

              <div class="btn-group btn-group-sm" role="group">

                <button [disabled]="filter.actualPage === 1" class="btn btn-outline-secondary"
                        (click)="filter.goToFirstPage(); doFiltering(false)">
                  <i class="fas fa-angle-double-left"></i>
                </button>

                <button
                  *ngFor="let page of filter.pageList"
                  class="btn"
                  [class.btn-outline-secondary]="page !== filter.actualPage"
                  [class.btn-primary]="page === filter.actualPage"
                  (click)="filter.changePage(page); doFiltering(false)">

                  {{ page }}

                </button>

                <button [disabled]="filter.actualPage === filter.lastPage"
                        class="btn btn-outline-secondary"
                        (click)="filter.goToLastPage(); doFiltering(false)">
                  <i class="fas fa-angle-double-right"></i>
                </button>

              </div>

            </div>
          </label>

        </div>
      </div>
      <div class="filter-panel-shadow"></div>
      <table class="table-sm table table-bordered sticky sticky-columns-5 table-striped text-left">
        <thead>
        <tr>
          <th>ID</th>
          <th>Номер</th>
          <th>Від</th>
          <th>До</th>
          <th>Дії</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let contract of contracts; let index = index">
          <td>
            {{ contract.id }}
          </td>
          <td>
            {{ contract.generatedNumber }}
          </td>
          <td>
            {{ contract.validityFrom }}
          </td>
          <td>
            {{ contract.validityTo }}
          </td>
          <td>
            <div class="btn-group d-flex" role="group" aria-label="Active">
              <button title="Редагування" class="btn btn-sm btn-sm btn-outline-primary w-100" routerLink="/business/contract/update/{{ contract.id }}">
                <i class="fas fa-edit"></i>
              </button>
              <button title="Перегляд" class="btn btn-block btn-sm btn-outline-info" routerLink="/business/contract/view/{{ contract.id }}">
                <i class="far fa-eye"></i>
              </button>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
      <ng-container *ngIf="contracts === undefined || contracts === null || contracts.length === 0">
        <div class="text-muted">
          Дані відсутні.
        </div>
      </ng-container>
    </div>
  </div>


</div>
