/*
Template Name: Admin Template
Author: Wrappixel

File: scss
*/

@import '../variable';




/*******************
Vertical tabs
******************/

.vtabs {
    display: table;
    .tabs-vertical {
        width: 150px;
        border-bottom: 0;
        border-right: 1px solid $border-color;
        display: table-cell;
        vertical-align: top;
        li .nav-link {
            color: $gray-800;
            margin-bottom: 10px;
            border: 0;
            border-radius: $border-radius 0 0 $border-radius;
        }
    }
    .tab-content {
        display: table-cell;
        padding: 20px;
        vertical-align: top;
    }
}

.tabs-vertical li .nav-link.active,
.tabs-vertical li .nav-link:hover,
.tabs-vertical li .nav-link.active:focus {
    background: $themecolor;
    border: 0;
    color: $white;
}




/*Custom vertical tab*/

.customvtab .tabs-vertical li .nav-link.active,
.customvtab .tabs-vertical li .nav-link:hover,
.customvtab .tabs-vertical li .nav-link:focus {
    background: $white;
    border: 0;
    border-right: 2px solid $themecolor;
    margin-right: -1px;
    color: $themecolor;
}

.tabcontent-border {
    border: 1px solid #ddd;
    border-top: 0;
}

.customtab2 {
    li {
        a.nav-link {
            border: 0;
            margin-right: 3px;
            color: $body-color;
            &.active {
                background: $themecolor;
                color: $white;
            }
            &:hover {
                color: $white;
                background: $themecolor;
            }
        }
    }
}
