<div id="client-login-page" class="bg-gradient-primary">

  <div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

      <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
              <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
              <div class="col-lg-6">
                <div class="p-5">
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">Ласкаво просимо!</h1>
                  </div>
                  <form class="user" id="registration-form" [formGroup]="form.formGroup" (ngSubmit)="login()">
                    <!--                  <div class="form-group">-->
                    <!--                    <input type="email" class="form-control form-control-user" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Enter Email Address...">-->
                    <!--                  </div>-->
                    <div class="form-group">

                      <label class="d-flex justify-content-between" for="email">
                        <span>Електронна пошта:</span>

                        <ng-container *ngIf="form.formGroup.controls['email'].invalid && (form.formGroup.controls['email'].dirty || form.formGroup.controls['email'].touched)">

                          <small class="text-danger" *ngIf="form.formGroup.controls['email'].errors.required">

                            Поле не може бути пустим.

                          </small>

                          <small class="text-danger" *ngIf="form.formGroup.controls['email'].errors.pattern">

                            Невірна електронна пошта.

                          </small>

                        </ng-container>

                      </label>

                      <input class="form-control form-control-user" id="email" name="email" type="text" formControlName="email" placeholder="Електронна пошта">

                    </div>
                    <!--                  <div class="form-group">-->
                    <!--                    <input type="password" class="form-control form-control-user" id="exampleInputPassword" placeholder="Password">-->
                    <!--                  </div>-->


                    <div class="form-group">

                      <div class="label-password">

                        <label class="d-flex justify-content-between" for="password">
                          <span>Пароль:</span>

                          <div class="d-flex justify-content-between">

                            <ng-container *ngIf="form.formGroup.controls['password'].invalid && (form.formGroup.controls['password'].dirty || form.formGroup.controls['password'].touched)">

                              <small class="text-danger" *ngIf="form.formGroup.controls['password'].errors.required">

                                Поле не може бути пустим.

                              </small>

                              <small class="text-danger" *ngIf="form.formGroup.controls['password'].errors.minlength">

                                Довжина паролю є малою: {{ form.formGroup.controls['password'].errors.minlength.actualLength }}/{{ form.formGroup.controls['password'].errors.minlength.requiredLength }}.

                              </small>

                            </ng-container>

                            <div class="show-passwords" (click)="form.showPassword = !form.showPassword">

                              <i class="fas" [class.fa-eye-slash]="form.showPassword" [class.fa-eye]="!form.showPassword"></i>

                            </div>

                          </div>

                        </label>

                      </div>

                      <input autocomplete="password" type="{{ form.showPassword ? 'text' : 'password' }}" class="form-control form-control-user" id="password" name="password" formControlName="password" placeholder="Пароль">

                    </div>

                    <!--                  <div class="form-group">-->
                    <!--                    <div class="custom-control custom-checkbox small">-->
                    <!--                      <input type="checkbox" class="custom-control-input" id="customCheck">-->
                    <!--                      <label class="custom-control-label" for="customCheck">Remember Me</label>-->
                    <!--                    </div>-->
                    <!--                  </div>-->


                    <div class="form-group">

                      <ng-container *ngIf="showGoodStatus; else buttonBox">

                        <div id="registration-good-status" class="alert alert-success">

                          Ви успішно авторизувались, вітаємо вас :)

                        </div>

                      </ng-container>

                      <ng-template #buttonBox>

                        <button *ngIf="!showLoading; else loadingBox" type="submit" [disabled]="form.formGroup.invalid" class="btn btn-primary btn-user btn-block">

                          Увійти

                        </button>

                        <ng-template #loadingBox>

                          <div id="registration-loading-box" class="d-flex justify-content-center">

                            <div class="spinner-border text-info" role="status">

                              <span class="sr-only">Завантаження...</span>

                            </div>

                          </div>

                        </ng-template>

                      </ng-template>

                    </div>
                    <!--                  <a href="index.html" class="btn btn-primary btn-user btn-block">-->
                    <!--                    Login-->
                    <!--                  </a>-->
                    <!--                  <hr>-->
                    <!--                  <a href="index.html" class="btn btn-google btn-user btn-block">-->
                    <!--                    <i class="fab fa-google fa-fw"></i> Login with Google-->
                    <!--                  </a>-->
                    <!--                  <a href="index.html" class="btn btn-facebook btn-user btn-block">-->
                    <!--                    <i class="fab fa-facebook-f fa-fw"></i> Login with Facebook-->
                    <!--                  </a>-->
                  </form>
                  <!--                <hr>-->
                  <!--                <div class="text-center">-->
                  <!--                  <a class="small" href="forgot-password.html">Forgot Password?</a>-->
                  <!--                </div>-->
                  <div class="text-center">
                    <a class="small" routerLink="/registration">Перейти до реєстрації</a>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>

</div>
