<div id="app-admin-panel-point-of-sale-module-home-page">


  <!-- DataTales Example -->
  <div class="card shadow mt-4">
    <app-karba-title
      [coreId]="id"
      [pageId]="pageId"
      [loading]="loading"
      (clickOnRefreshBtn)="clickOnRefreshBtn()"
      (clickOnCollapseBtn)="clickOnCollapseBtn()"
      [initHideBody]="initHideBody"
      title="Торгові точки"
      [showTotal]="initialized && collapseContent"
      [total]="filter.total">

      <ng-container *ngIf="offerId !== null">

        <div class="badge badge-dark mr-2">
          <div *ngIf="pointsOfSaleForOffer.length === 0; else offerUserForPOS">
            Пропозиція використовується для всіх торвгових точок власника
          </div>
          <ng-template #offerUserForPOS>
            Пропозиція використовується для <strong>{{ pointsOfSaleForOffer }}</strong> вибраних торгових точок
          </ng-template>
        </div>

        <!--        <button class="btn btn-sm btn-secondary" data-toggle="modal" data-target="#modalAddSelectedPointOfSale">-->
        <!--          Приписати до пропозиції торгову точку-->
        <!--        </button>-->

      </ng-container>

      <a href="#/business/point-of-sale/create{{ companyId !== undefined && companyId !== null ? '/' + companyId : '' }}" class="btn btn-sm btn-primary">
        <i class="fas fa-plus-circle"></i>
      </a>

    </app-karba-title>
    <div class="card-body" [class.collapse]="initHideBody" [class.show]="!initHideBody" id="card-body-{{ id }}">
      <div [class.filter-panel]="isDesktop" [class.mb-4]="!isDesktop" class="row">
        <div class="col-sm-12 col-md-3 pr-0">
          <label class="w-100" for="search">Пошук

            <div class="input-group">
              <input (keydown.enter)="doFiltering()" type="text"
                     [(ngModel)]="filter.search" id="search" name="search"
                     placeholder="Що будемо шукати?" class="form-control form-control-sm">
              <button *ngIf="filter.search.length > 1" (click)="clearSearch()"
                      class="btn bg-transparent btn-clear-input">
                <i class="fa fa-times"></i>
              </button>
            </div>
          </label>
        </div>
        <div class="col-sm-12 col-md-2 pr-0">
          <label class="w-100">
            Статус
            <select (change)="doFiltering()" [(ngModel)]="filter.status" name="status"
                    class="custom-select custom-select-sm form-control form-control-sm">
              <option [ngValue]="null">Всі</option>
              <option [ngValue]="2">Опубліковані</option>
              <option [ngValue]="1">Неопубліковані</option>
              <option [ngValue]="0">Заблаковані</option>
            </select>
          </label>
        </div>
        <div class="col-sm-12 col-md-1 pr-0">
          <label class="w-100">
            Кількість
            <select (change)="doFiltering()" [(ngModel)]="filter.count" name="count"
                    class="custom-select custom-select-sm form-control form-control-sm">
              <option [ngValue]="25">25</option>
              <option [ngValue]="50">50</option>
              <option [ngValue]="75">75</option>
              <option [ngValue]="100">100</option>
            </select>
          </label>
        </div>
        <div class="col-sm-12 col-md-3">

          <label for="pagination" class="w-100">
            Сторінки <small class="text-muted">({{ filter.lastPage }})</small>
            <div class="pagination" id="pagination">

              <div class="btn-group btn-group-sm special" role="group">

                <button [disabled]="filter.actualPage === 1" class="btn btn-outline-secondary"
                        (click)="filter.goToFirstPage(); doFiltering(false)">
                  <i class="fas fa-angle-double-left"></i>
                </button>

                <button
                  *ngFor="let page of filter.pageList"
                  class="btn"
                  [class.btn-outline-secondary]="page !== filter.actualPage"
                  [class.btn-primary]="page === filter.actualPage"
                  (click)="filter.changePage(page); doFiltering(false)">

                  {{ page }}

                </button>

                <button [disabled]="filter.actualPage === filter.lastPage"
                        class="btn btn-outline-secondary"
                        (click)="filter.goToLastPage(); doFiltering(false)">
                  <i class="fas fa-angle-double-right"></i>
                </button>

              </div>

            </div>
          </label>

        </div>
<!--        <div class="col-md-1">-->
<!--          <br>-->
<!--          <button class="btn btn-block btn-sm btn-info" data-toggle="modal" data-target="#modal-filtering-offer">-->
<!--            <i class="fas fa-filter"></i>-->
<!--          </button>-->

<!--        </div>-->
      </div>
      <ng-container *ngIf="isDesktop; else isNotDesktop">
        <div class="filter-panel-shadow"></div>
        <table class="table-sm table table-bordered sticky table-striped text-left sticky-columns-6">
          <thead>
          <tr>
            <th>
            <span class="cursor-pointer" (click)="filter.changeOrderBy('id'); doFiltering()" [class.active]="filter.orderBy === 'id'">
              <i *ngIf="filter.sort === 'ASC'" class="fas fa-sort-alpha-down"></i>
              <i *ngIf="filter.sort === 'DESC'" class="fas fa-sort-alpha-down-alt"></i>
              ID
            </span>
            </th>
            <th>Адреса</th>
            <th>Додоткова інформація</th>
            <th>
            <span class="cursor-pointer" (click)="filter.changeOrderBy('status'); doFiltering()" [class.active]="filter.orderBy === 'status'">
              <i *ngIf="filter.sort === 'ASC'" class="fas fa-sort-alpha-down"></i>
              <i *ngIf="filter.sort === 'DESC'" class="fas fa-sort-alpha-down-alt"></i>
              Статус
            </span>
            </th>
            <th>Місто</th>
            <th>Дії</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let pos of pointsOfSale; let index = index">
            <td>
              {{ pos.id }}
            </td>
            <td>
              <ul>
                <li *ngFor="let language of pos.languages">
                  {{ language.languageCode }}: <strong>{{ language.address }}</strong>
                </li>
              </ul>
            </td>
            <td>
              {{ pos.comment }}
            </td>
            <td>

              <span class="badge {{ pos.status === 2 ? 'badge-success' : pos.status === 1 ? 'badge-warning' : 'badge-danger' }}">
              <i title="{{ getStatusName(pos.status) }}" *ngIf="pos.status === 2" class="fas fa-check-circle"></i>
              <i title="{{ getStatusName(pos.status) }}" *ngIf="pos.status === 1" class="fas fa-clock"></i>
              <i title="{{ getStatusName(pos.status) }}" *ngIf="pos.status === 0" class="fas fa-lock"></i>
                {{ pos.status === 2 ? 'Опублікований' : pos.status === 1 ? 'Підготовлений' : 'Заблокований' }}
              </span>
            </td>
            <td>
              <span class="badge badge-dark">{{ getCityName(pos.localityId) }}</span>
            </td>
            <td>

              <div class="btn-group-vertical d-flex">

                <ng-container *ngIf="offerId !== null">

                  <ng-container *ngIf="checkPos(pos.id.toString()); else posNotFind">
                    <button (click)="togglePosToOffer(pos, true, index)" class="btn btn-sm btn-danger w-100">
                      Відписати від пропозиції
                    </button>
                  </ng-container>

                  <ng-template #posNotFind>
                    <button (click)="togglePosToOffer(pos, false, index)" class="btn btn-sm btn-success w-100">
                      Приписати до пропозиції
                    </button>
                  </ng-template>

                </ng-container>

                <ng-container *ngIf="companyId !== null">

                  <button title="Редагувати" class="btn btn-sm btn-sm btn-outline-primary w-100" routerLink="/business/point-of-sale/update/{{ pos.id }}">
                    <i class="fas fa-edit"></i>
                  </button>

                </ng-container>

                <button title="Перегляд" class="btn btn-block btn-sm btn-outline-info w-100" routerLink="/business/point-of-sale/view/{{ pos.id }}">
                  <i class="far fa-eye"></i>
                </button>

              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </ng-container>
      <ng-template #isNotDesktop>
        <div class="row">
          <div class="col-md-4">
            <ng-container *ngFor="let pos of pointsOfSale; let index = index">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">
                    ID: {{ pos.id }}
                  </h4>
                  <div class="card-text">
                    <div>
                      <strong>Адреси:</strong>
                      <ol>
                        <li *ngFor="let language of pos.languages">
                          {{ language.languageCode }}: <strong>{{ language.address }}</strong>
                        </li>
                      </ol>
                    </div>
                    <p>
                      <strong>Коммент: </strong>
                      {{ pos.comment }}
                    </p>
                    <p>
                      <strong>Статус: </strong>
                      <span class="badge {{ pos.status === 2 ? 'badge-success' : pos.status === 1 ? 'badge-warning' : 'badge-danger' }}">
                      <i title="{{ getStatusName(pos.status) }}" *ngIf="pos.status === 2" class="fas fa-check-circle"></i>
                      <i title="{{ getStatusName(pos.status) }}" *ngIf="pos.status === 1" class="fas fa-clock"></i>
                      <i title="{{ getStatusName(pos.status) }}" *ngIf="pos.status === 0" class="fas fa-lock"></i>
                                {{ pos.status === 2 ? 'Опублікований' : pos.status === 1 ? 'Підготовлений' : 'Заблокований' }}
                      </span>
                    </p>
                    <p>
                      <strong>Місто: </strong>
                      <span class="badge badge-dark">{{ getCityName(pos.localityId) }}</span>
                    </p>

                    <div class="btn-group-vertical d-flex">

                      <ng-container *ngIf="offerId !== null">

                        <ng-container *ngIf="checkPos(pos.id.toString()); else posNotFind">
                          <button (click)="togglePosToOffer(pos, true, index)" class="btn btn-sm btn-danger w-100">
                            Відписати від пропозиції
                          </button>
                        </ng-container>

                        <ng-template #posNotFind>
                          <button (click)="togglePosToOffer(pos, false, index)" class="btn btn-sm btn-success w-100">
                            Приписати до пропозиції
                          </button>
                        </ng-template>

                      </ng-container>

                      <ng-container *ngIf="companyId !== null">

                        <button title="Редагувати" class="btn btn-sm btn-sm btn-outline-primary w-100" routerLink="/business/point-of-sale/update/{{ pos.id }}">
                          <i class="fas fa-edit"></i>
                        </button>

                      </ng-container>

                      <button title="Перегляд" class="btn btn-block btn-sm btn-outline-info w-100" routerLink="/business/point-of-sale/view/{{ pos.id }}">
                        <i class="far fa-eye"></i>
                      </button>

                    </div>
                  </div>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </ng-template>
      <ng-container *ngIf="pointsOfSale === undefined || pointsOfSale === null || pointsOfSale.length === 0">
        <div class="text-muted">
          Дані відсутні.
        </div>
      </ng-container>
    </div>
  </div>


</div>


<!-- Modal -->
<!--<div class="modal fade" id="modal-filtering-offer" tabindex="-1" role="dialog" aria-hidden="true">-->
<!--  <div class="modal-dialog" role="document">-->
<!--    <div class="modal-content">-->
<!--      <div class="modal-header">-->
<!--        <h5 class="modal-title">-->
<!--          Фільтрування-->
<!--        </h5>-->
<!--        <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--          <span aria-hidden="true">&times;</span>-->
<!--        </button>-->
<!--      </div>-->
<!--      <div class="modal-body">-->

<!--        <div class="row">-->


<!--        </div>-->

<!--      </div>-->
<!--      <div class="modal-footer d-flex justify-content-between">-->
<!--        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Закрити</button>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
