

<!-- DataTales Example -->
<div class="card shadow mt-4">
  <app-karba-title
    [coreId]="id"
    [pageId]="pageId"
    [titleLikeLink]="true"
    [loading]="loading"
    (clickOnRefreshBtn)="clickOnRefreshBtn()"
    [initHideBody]="false"
    [colMdTitle]="7"
    [customRouterLink]="['/business/user']"
    title="Користувач"
    [showTotal]="false">
  </app-karba-title>
  <div class="show" id="card-body-{{ id }}">

    <div class="card-body">
      <ng-container *ngIf="user !== undefined && user !== null && !loading">
        <p><strong>E-mail</strong>: <a href="mailto:{{ user.email }}">{{ user.email }}</a></p>
        <p><strong>Телефон</strong>: <a href="tel:{{ user.phone }}">{{ user.phone }}</a></p>
        <hr>
        <p><strong>id</strong>: {{ user.id }}</p>
        <p><strong>Ім'я</strong>: {{ user.firstName }}</p>
        <p><strong>Прізвище</strong>: {{ user.lastName }}</p>
        <p><strong>Стать</strong>: {{ user.gender }}</p>
        <p><strong>День народження</strong>: {{ user.birthday }}</p>
<!--        <p><strong>Статус</strong>: {{ user.status }}</p>-->
<!--        <p><strong>Ролі</strong>: {{ user.roles.join(', ') }}</p>-->
<!--        <p><strong>ikoint</strong>: {{ user.ikoint }}</p>-->
<!--        <p><strong>Коди запрошення</strong>: {{ user.invitationCodes.join(', ') }}</p>-->
<!--        <p><strong>Хто запросив</strong>: <a href="#/admin/user/view/{{ user.invitationUserId }}">{{ user.invitationUserId }}</a></p>-->
<!--        <hr>-->
<!--        <p><strong>Дата реєстрації</strong>: {{ user.createdAt }}</p>-->
<!--        <p><strong>Останє оновлення</strong>: {{ user.updatedAt }}</p>-->
      </ng-container>
    </div>
  </div>
</div>
