<div id="offer-page">


  <ng-container *ngIf="offer === null">
    <div class="loader d-none">
      <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="offer !== null">

    <div class="container-fluid">


      <div class="row">

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-4 col-md-6 mb-4">
          <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Статус</div>
                  <div class="h5 mb-0 font-weight-bold text-gray-800" [class.text-warning]="offer.status === 1" [class.text-success]="offer.status === 3" [class.text-primary]="offer.status === 2" [class.text-danger]="offer.status === 0">
                    {{ getStatusName(offer.status) }}
                  </div>
                </div>
                <div class="col-auto">
                  <i class="fas fa-calendar fa-2x text-gray-300"></i>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-4 col-md-6 mb-4">
          <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Використано</div>
                  <div class="h5 mb-0 font-weight-bold text-gray-800">
                    {{ offer.amountOfUses }}
                  </div>
                </div>
                <div class="col-auto">
                  <i class="fas fa-qrcode fa-2x text-gray-300"></i>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-4 col-md-6 mb-4">
          <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Переглядів</div>
                  <div class="h5 mb-0 font-weight-bold text-gray-800">
                    {{ offer.numberOfViews }}
                  </div>
                </div>
                <div class="col-auto">
                  <i class="fas fa-eye fa-2x text-gray-300"></i>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

    <!-- DataTales Example -->
    <div class="card shadow mt-4">
      <app-karba-title
        [coreId]="id"
        [pageId]="pageId"
        [titleLikeLink]="true"
        [loading]="loading"
        (clickOnRefreshBtn)="clickOnRefreshBtn()"
        [initHideBody]="false"
        [colMdTitle]="7"
        [customRouterLink]="['/business/offer']"
        title="Пропозиція"
        [showTotal]="false">
        <button title="Редагувати" class="btn btn-sm btn-outline-primary" routerLink="/business/offer/update/{{ offer.id }}">
        <i class="fas fa-edit"></i>
        </button>
        </app-karba-title>
        <div class="show" id="card-body-{{ id }}">

          <div class="card-body">

            <div class="row">

              <div class="col-md-3">
                <strong>Тип</strong>
                <p>
                  <span class="badge badge-dark">
                    {{ getTypeName(offer.type) }}
                  </span>
                </p>
              </div>

              <div class="col-md-2">
                <strong>Ціна</strong>
                <p>
                  {{ offer.price }} ik
                </p>
              </div>
              <div class="col-md-2">
                <strong>Дохід</strong>
                <p>
                  {{ offer.income }} грн
                </p>
              </div>
              <div class="col-md-2">
                <strong>За перегляд</strong>
                <p>
                  {{ offer.ikointForTake }} ik
                </p>
              </div>
              <div class="col-md-3">
                <strong>Чи є можливсть купити?</strong>
                <p>
                  <span class="badge" [class.badge-success]="offer.canBuy === 1" [class.badge-danger]="offer.canBuy === 0">
                    {{ offer.canBuy === 1 ? 'Так' : 'Ні' }}
                  </span>
                </p>
              </div>

            </div>

            <div class="row">

              <div class="col-md-3">
                <strong>Ліміт</strong>
                <p>
                  {{ offer.limit === null ? 'Безліміту' : offer.limit }}
                </p>
              </div>
              <div class="col-md-3">
                <strong>Доступно до користування</strong>
                <p>
                  <span class="badge badge-dark">
                    {{ accessForUse[offer.accessForUse - 1] }}
                  </span>
                </p>
              </div>
              <div class="col-md-3">
                <strong>Доступно для</strong>
                <p>
                  <span class="badge badge-dark">
                    {{ accessForUser[offer.accessForUser - 1] }}
                  </span>
                </p>
              </div>
              <div class="col-md-3">
                <strong>Останнє оновлення</strong>
                <p>
                  {{ offer.updatedAt }}
                </p>
              </div>

            </div>

            <hr>

            <h4>
              <strong>
                Назва, опис та тегі пропозиції на різних мовах
              </strong>
            </h4>

            <ng-container *ngFor="let language of offer.languages">

              <hr>

              <div class="row mb-2">

                <div class="col-md-2">

                  <strong>Мова</strong>
                  <p>
                    <span class="badge badge-dark">
                      {{ languageName(language.languageCode) }}
                    </span>
                  </p>

                </div>

                <div class="col-md-8">

                  <strong>Тегі</strong>
                  <p>
                <span *ngFor="let tagOfLanguage of language.tags; let index = index">
                  <span class="badge badge-dark mr-1">{{ tagOfLanguage | pipeIsUndefinedOrNull: 'name' }}</span>
                </span>
                  </p>

                </div>

                <div class="col-md-2">

                  <div data-toggle="modal"
                       data-target="#openUploadNewImageByLanguage"
                       (click)="selectedLanguage = language"
                       class="image-offer-by-language">

                    <img
                      width="100%"
                      onerror="this.src='https://via.placeholder.com/300x150.jpg?text=[Salo+Sale]+Click+for+change';"
                      [src]="image(language.languageCode)"
                      alt="">

                  </div>
                </div>

              </div>
              <div class="row">

                <div class="col-md-12">

                  <strong>Назва</strong>
                  <p>
                    {{ language.title }}
                  </p>

                </div>

              </div>

              <div class="row">

                <div class="col-md-12">

                  <strong>Опис</strong>
                  <p [innerHTML]="language.description">
                  </p>

                </div>

              </div>

              <div class="row" *ngIf="language.descriptionRequirements !== null">

                <div class="col-md-12">

                  <strong>Опис вимог</strong>
                  <p [innerHTML]="language.descriptionRequirements">
                  </p>

                </div>

              </div>

            </ng-container>

          </div>
        </div>
    </div>

    <app-admin-panel-offer-user-purchased-component [offerId]="paramID" [companyId]="offer.companyId"></app-admin-panel-offer-user-purchased-component>

    <app-locality-list-page [offerLocalityList]="offer.offerLocalityList" [offerId]="offer.id"></app-locality-list-page>

    <app-admin-panel-point-of-sale-home-page [pointsOfSaleForOffer]="offer.pointsOfSale" [offerId]="offer.id" [companyId]="offer.companyId"></app-admin-panel-point-of-sale-home-page>

    <app-admin-panel-offer-code-component></app-admin-panel-offer-code-component>

    <app-admin-panel-offer-validity-component></app-admin-panel-offer-validity-component>

    <app-admin-panel-offer-link-component></app-admin-panel-offer-link-component>

<!--    <app-admin-panel-advertising-banner-home-page [offerId]="offer.id"></app-admin-panel-advertising-banner-home-page>-->

      <!-- Modal -->
      <div class="modal fade" id="openUploadNewImageByLanguage" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title"
                  id="selectedItemLabel">Додавання нової картинки</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">

              <ng-container *ngIf="selectedLanguage !== undefined && selectedLanguage !== null">


                <div class="row">

                  <div class="col-md-12 mb-2">

                    <img
                      width="100%"
                      onerror="this.src='https://via.placeholder.com/300x150.jpg?text=[Salo+Sale]+Click+for+change';"
                      [src]="image(selectedLanguage.languageCode)"
                      alt="">

                  </div>

                  <div class="col-md-12">

                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                      <label class="btn btn-secondary active">
                        <input (click)="aspectRation = 16 / 9" type="radio" name="options" id="option1" autocomplete="off" checked> 16:9
                      </label>
                      <label class="btn btn-secondary">
                        <input (click)="aspectRation = 1 / 1" type="radio" name="options" id="option2" autocomplete="off"> 1:1
                      </label>
                      <label class="btn btn-secondary">
                        <input (click)="aspectRation = 4 / 5" type="radio" name="options" id="option3" autocomplete="off"> 4:5
                      </label>
                    </div>

                  </div>


                  <div class="col-12">

<!--                    <img width="100%" [src]="image(selectedLanguage.languageCode)" alt="">-->
                    <image-cropper
                      [imageChangedEvent]="imageChangedEvent"
                      [maintainAspectRatio]="true"
                      [aspectRatio]="aspectRation"
                      [onlyScaleDown]="false"
                      [roundCropper]="false"
                      format="jpg"
                      outputType="base64"
                      [autoCrop]="true"
                      (imageCropped)="imageCropped($event)"
                      (imageLoaded)="imageLoaded()"
                      (cropperReady)="cropperReady()"
                      (loadImageFailed)="loadImageFailed()"
                      [alignImage]="'center'"
                    ></image-cropper>

                    <!--          <img width="100%" *ngIf="croppedImage !== null" [src]="croppedImage" />-->


                  </div>
                  <div class="col-md-12">

                    <input #bannerInput type="file" (change)="fileChangeEvent($event)" />

                  </div>

                </div>

              </ng-container>

            </div>
            <div class="modal-footer d-flex justify-content-between">
              <button
                id="app-admin-panel-company-contact-cancel-button-modal"
                type="button"
                (click)="clearNewImg()"
                class="btn btn-light"
                data-dismiss="modal">
                Скасувати
              </button>
              <button
                type="button"
                class="btn btn-success"
                [disabled]="croppedImage === null"
                (click)="saveUploadImage(selectedLanguage.languageCode)"
                data-dismiss="modal">
                Зберігти
              </button>
            </div>
          </div>
        </div>
      </div>

    </ng-container>


</div>
