<div class="col-12 mt-4">


<!--  <div class="loader">-->
<!--    <div class="spinner-border" role="status">-->
<!--      <span class="sr-only">Loading...</span>-->
<!--    </div>-->
<!--  </div>-->

  <div class="alert alert-info">

    Невдовзі зв`явиться інфорграфіка.

  </div>

  <div class="row">

    <div class="col-md-6">

      <div [routerLink]="['/business', 'offer', 'create']" class="custom-ui-card">

        <div class="icon">

          <i class="fas fa-store-alt"></i>

        </div>
        <div class="title">

          Додати пропозицію

        </div>

      </div>

    </div>
    <div class="col-md-6">

      <div [routerLink]="['/business', 'point-of-sale', 'create']" class="custom-ui-card">

        <div class="icon">

          <i class="fas fa-percent"></i>

        </div>
        <div class="title">

          Додати торгову точку

        </div>

      </div>

    </div>

  </div>

  <!--<ng-container *ngIf="dashboard !== null">-->

<!--  <div class="row">-->

<!--    <ng-container *ngFor="let stat of statistics">-->

<!--      &lt;!&ndash; Earnings (Monthly) Card Example &ndash;&gt;-->
<!--      <div class="col-xl-3 col-md-6 mb-4">-->
<!--        <div class="card border-left-primary shadow h-100 py-2">-->
<!--          <div class="card-body">-->
<!--            <div class="row no-gutters align-items-center">-->
<!--              <div class="col mr-2">-->
<!--                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">{{ typeName(stat.type) }}</div>-->
<!--                <div class="h5 mb-0 font-weight-bold text-gray-800">-->
<!--                  {{ stat.value }}-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->

<!--    </ng-container>-->

    <!--    &lt;!&ndash; Earnings (Monthly) Card Example &ndash;&gt;-->
    <!--    <div class="col-xl-3 col-md-6 mb-4">-->
    <!--      <div class="card border-left-primary shadow h-100 py-2">-->
    <!--        <div class="card-body">-->
    <!--          <div class="row no-gutters align-items-center">-->
    <!--            <div class="col mr-2">-->
    <!--              <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Підписникив</div>-->
    <!--              <div class="h5 mb-0 font-weight-bold text-gray-800">-->
    <!--                {{ dashboard.userCount }}-->
    <!--              </div>-->
    <!--            </div>-->
    <!--            <div class="col-auto">-->
    <!--              <i class="fas fa-calendar fa-2x text-gray-300"></i>-->
    <!--            </div>-->
    <!--          </div>-->
    <!--        </div>-->
    <!--      </div>-->
    <!--    </div>-->

    <!--    &lt;!&ndash; Earnings (Monthly) Card Example &ndash;&gt;-->
    <!--    <div class="col-xl-3 col-md-6 mb-4">-->
    <!--      <div class="card border-left-success shadow h-100 py-2">-->
    <!--        <div class="card-body">-->
    <!--          <div class="row no-gutters align-items-center">-->
    <!--            <div class="col mr-2">-->
    <!--              <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Закладів</div>-->
    <!--              <div class="h5 mb-0 font-weight-bold text-gray-800">-->
    <!--                {{ dashboard.companyCount }}-->
    <!--              </div>-->
    <!--            </div>-->
    <!--            <div class="col-auto">-->
    <!--              <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>-->
    <!--            </div>-->
    <!--          </div>-->
    <!--        </div>-->
    <!--      </div>-->
    <!--    </div>-->

    <!--    &lt;!&ndash; Pending Requests Card Example &ndash;&gt;-->
    <!--    <div class="col-xl-3 col-md-6 mb-4">-->
    <!--      <div class="card border-left-warning shadow h-100 py-2">-->
    <!--        <div class="card-body">-->
    <!--          <div class="row no-gutters align-items-center">-->
    <!--            <div class="col mr-2">-->
    <!--              <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Торгових точок</div>-->
    <!--              <div class="h5 mb-0 font-weight-bold text-gray-800">-->
    <!--                {{ dashboard.pointOfSaleCount }}-->
    <!--              </div>-->
    <!--            </div>-->
    <!--            <div class="col-auto">-->
    <!--              <i class="fas fa-comments fa-2x text-gray-300"></i>-->
    <!--            </div>-->
    <!--          </div>-->
    <!--        </div>-->
    <!--      </div>-->
    <!--    </div>-->

    <!--    &lt;!&ndash; Pending Requests Card Example &ndash;&gt;-->
    <!--    <div class="col-xl-3 col-md-6 mb-4">-->
    <!--      <div class="card border-left-warning shadow h-100 py-2">-->
    <!--        <div class="card-body">-->
    <!--          <div class="row no-gutters align-items-center">-->
    <!--            <div class="col mr-2">-->
    <!--              <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Пропозиція</div>-->
    <!--              <div class="h5 mb-0 font-weight-bold text-gray-800">-->
    <!--                {{ dashboard.offerCount }}-->
    <!--              </div>-->
    <!--            </div>-->
    <!--            <div class="col-auto">-->
    <!--              <i class="fas fa-comments fa-2x text-gray-300"></i>-->
    <!--            </div>-->
    <!--          </div>-->
    <!--        </div>-->
    <!--      </div>-->
    <!--    </div>-->
    <!--  </div>-->

    <!--  <div class="row">-->

    <!--    &lt;!&ndash; Earnings (Monthly) Card Example &ndash;&gt;-->
    <!--    <div class="col-xl-3 col-md-6 mb-4">-->
    <!--      <div class="card border-left-success shadow h-100 py-2">-->
    <!--        <div class="card-body">-->
    <!--          <div class="row no-gutters align-items-center">-->
    <!--            <div class="col mr-2">-->
    <!--              <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Контрактів</div>-->
    <!--              <div class="h5 mb-0 font-weight-bold text-gray-800">-->
    <!--                {{ dashboard.contractCount }}-->
    <!--              </div>-->
    <!--            </div>-->
    <!--            <div class="col-auto">-->
    <!--              <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>-->
    <!--            </div>-->
    <!--          </div>-->
    <!--        </div>-->
    <!--      </div>-->
    <!--    </div>-->

    <!--    &lt;!&ndash; Earnings (Monthly) Card Example &ndash;&gt;-->
    <!--    <div class="col-xl-3 col-md-6 mb-4">-->
    <!--      <div class="card border-left-primary shadow h-100 py-2">-->
    <!--        <div class="card-body">-->
    <!--          <div class="row no-gutters align-items-center">-->
    <!--            <div class="col mr-2">-->
    <!--              <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Рекламні банери</div>-->
    <!--              <div class="h5 mb-0 font-weight-bold text-gray-800">-->
    <!--                {{ dashboard.advertisingBannerCount }}-->
    <!--              </div>-->
    <!--            </div>-->
    <!--            <div class="col-auto">-->
    <!--              <i class="fas fa-calendar fa-2x text-gray-300"></i>-->
    <!--            </div>-->
    <!--          </div>-->
    <!--        </div>-->
    <!--      </div>-->
    <!--    </div>-->
<!--  </div>-->

  <!--</ng-container>-->

<!--  <div class="row">-->

<!--    <div class="col-md-12 text-muted">-->

<!--      <p>-->
<!--        <strong>Пояснення</strong>-->
<!--      </p>-->

<!--      <p>* Кожного дня о 23:30 генеруються дані для відображання на Dashboard також генеруються Excel-таблиці для клієнтів.</p>-->
<!--      <p>* Зірочка в меню на контрактах означає що сторінка ще не докінця готова.</p>-->

<!--    </div>-->

<!--  </div>-->


</div>
