.custom-ui-card {

  width: 100%;
  padding: 25px;
  border-radius: 5px;
  background-color: rgba(0, 151, 255, 0.51);
  color: white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: .5s;

  &:hover {

    box-shadow: 0 0 25px rgba(0,0,0,0.25);
    background-color: #0099FF;

  }

  .icon {

    font-size: 35px;

  }

}
