<div class="karba-title-component">

  <div class="card-header" [class.with-hide-a-button]="showRefresh" [class.with-hide-a]="!showRefresh">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="row">

      <div class="col-md-{{ colMdTitle }} align-self-center align-items-center d-flex">
        <div class="d-flex justify-content-between">
          <ng-container *ngIf="titleLikeLink; else customTitle">
            <a [routerLink]="customRouterLink" href="javascript:void(0);" class="btn btn-link btn-sm btn-back">
              <ng-container *ngTemplateOutlet="customTitle"></ng-container>
            </a>
          </ng-container>
          <ng-template #customTitle>
            <h5 class="m-0 font-weight-bold text-primary d-flex align-items-center">
              <i *ngIf="titleLikeLink" class="fas fa-angle-left mr-2"></i>
              <ng-container *ngIf="showTitle">
                <span>{{ title }}&nbsp;</span>
              </ng-container>
              <ng-container *ngIf="showTotal">
                <span>(<small *ngIf='showSubTotal'>{{ subTotal }}/</small>{{ total }})</span>
              </ng-container>
            </h5>
          </ng-template>
        </div>

      </div>

      <ng-container *ngIf="!hideRightBlock">

        <div class="col-md-{{ 12 - colMdTitle }} d-flex justify-content-end align-self-center text-right">
          <ng-content></ng-content>
        </div>

      </ng-container>

    </div>

    <ng-container *ngIf="showRefresh">
      <button (click)="_clickOnRefreshBtn()" data-value="refresh-card-body" class="refresh-card-body" [id]="refreshBtnId">
        <i data-value="refresh-card-body" [id]="refreshBtnId + '-i'" class="fas fa-sync-alt" [class.animation-circle]="(loading && !initHideBody) || (initHideBody && _collapse && loading)"></i>
      </button>
    </ng-container>
    <a (click)="_clickOnCollapseBtn()" [id]="collapseBtnId" data-value="collapse-card-body" class="hide-card-body" [class.collapsed]="initHideBody" data-toggle="collapse" href="#{{ collapseBtnOpenId }}" role="button" [attr.aria-expanded]="!initHideBody">
      <i data-value="collapse-card-body" class="fas fa-angle-down"></i>
    </a>
  </div>

</div>
