.karba-title-component {

  .btn-back {

    text-decoration: unset;

  }

  .card-header.with-hide-a {

    padding-right: 65px !important;
    position: relative;

    a.hide-card-body {

      width: 50px;
      border-left: 1px solid #dddddd;
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 25px;
      cursor: pointer;
      text-decoration: unset;
      color: black;

      &:hover {

        color: #0099FF;

      }

      i {

        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        transition: .5s;

      }

      &.collapsed {

        i {

          -webkit-transform: rotate(90deg);
          transform: rotate(90deg);

        }

      }

    }

  }

  .card-header.with-hide-a-button {

    padding-right: 115px !important;
    position: relative;

    a.hide-card-body {

      width: 50px;
      border-left: 1px solid #dddddd;
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 25px;
      cursor: pointer;
      text-decoration: unset;
      color: black;

      &:hover {

        color: #0099FF;

      }

      i {

        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        transition: .5s;

      }

      &.collapsed {

        i {

          -webkit-transform: rotate(90deg);
          transform: rotate(90deg);

        }

      }

    }

    button.refresh-card-body {

      width: 50px;
      border: 0;
      border-left: 1px solid #dddddd;
      position: absolute;
      outline: unset;
      top: 0;
      right: 50px;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background: white;
      font-size: 25px;
      cursor: pointer;
      transition: .5s;
      text-decoration: unset;
      color: black;

      &:hover {

        color: #0099FF;

      }

      i {

        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);

        &.animation-circle {

          animation: circle 1s linear infinite;

        }

      }

      &.collapsed {

        i {

          -webkit-transform: rotate(90deg);
          transform: rotate(90deg);

        }

      }

    }

    @keyframes circle{
      0%{
        transform: rotate(0deg);

      }
      100%{
        transform: rotate(360deg);
      }
    }

  }

}
