

<ng-container *ngIf="model === undefined || model === null">

  <div class="loader">
    <div class="spinner-border" role="status">
      <strong class="sr-only">Loading...</strong>
    </div>
  </div>

</ng-container>

<ng-container *ngIf="model !== undefined && model !== null">

  <!-- DataTales Example -->
  <div class="card shadow mt-4">
    <div class="card-header">
      <div class="d-flex justify-content-between">
        <h5 class="m-0 font-weight-bold text-primary">
          {{ model._isNew ? 'Додавання торгової точки' : 'Редагування торгової точки' }}
        </h5>
        <button *ngIf="isFromCompanyForm" (click)="removeItemFromList()" class="btn btn-sm btn-danger">
          <strong>-</strong>
        </button>
        <a *ngIf="!isFromCompanyForm" href="{{ model.companyId !== undefined && model.companyId !== null ? '#/business/company/view/' + model.companyId : model._isNew ? '#/business/point-of-sale' : '#/business/point-of-sale/view/' + model.id }}" class="btn btn-sm btn-secondary">
          Відмінити
        </a>
      </div>
    </div>
    <div class="card-body">

      <form [formGroup]="model.formGroup" class="form-group">

<!--        <div class="row">-->

<!--          <div class="col-md-4">-->

<!--            <img width="100px" height="100px" [src]="logo" alt="">-->

<!--          </div>-->

<!--          <div class="col-md-4">-->

<!--            <strong>Бізнес</strong>-->
<!--            <p>-->
<!--              <a href="#/business/company/view/{{model.companyId}}">-->
<!--                {{ model._isNew ? model.company.name : model.companyName }}-->
<!--              </a>-->
<!--            </p>-->

<!--          </div>-->

<!--        </div>-->

<!--        <hr>-->

        <div class="row">

          <div class="col-6">

            <label class="d-flex justify-content-between form-check-label" for="">
              <strong>Місто</strong>

              <ng-container
                *ngIf="model.formGroup.controls['localityId'].invalid && (model.formGroup.controls['localityId'].dirty || model.formGroup.controls['localityId'].touched || submitted)">

                <small class="text-danger" *ngIf="model.formGroup.controls['localityId'].errors.required">

                  Поле не може бути пустим.

                </small>

              </ng-container>
            </label>
            <ng-select
              [items]="cities"
              [multiple]="false"
              [closeOnSelect]="true"
              [searchable]="true"
              bindValue="id"
              bindLabel="name"
              placeholder="Виберіть місто"
              [(ngModel)]="model.localityId"
              formControlName="localityId"
              (change)="changed($event)">
            </ng-select>

          </div>

          <div class="col-6">

            <label class="form-check-label mr-1" for="name_language_name_status">
              <strong>Статус</strong>
            </label>
            <select id="name_language_name_status" formControlName="status" class="custom-select form-control">
              <option [ngValue]="null" disabled>Вибреи статус</option>
              <option [ngValue]="2">Опублікований</option>
              <option [ngValue]="1">Неопублікований</option>
            </select>

          </div>

        </div>

        <hr>

        <div class="d-flex justify-content-between">

          <h5>
            <strong>Адреса на різних мовах</strong>
          </h5>

          <button [class.disabled]="appService.languages.length === model.formGroup.controls.languages['controls'].length" class="btn btn-sm btn-success" (click)="model.addBewLanguageToForm()">
            Додати мову
          </button>

        </div>

        <fieldset formArrayName="languages">

          <div *ngFor="let nameLanguage of model.formGroup.controls.languages['controls']; let index = index">

            <hr>

            <div class="row mt-4">

              <div class="col-lg-2">

                <label class="form-check-label mr-1" for="name_language_code_{{ index }}">
                  <strong>Мова</strong>
                </label>
                <select class="form-control" id="name_language_code_{{ index }}" name="name_language_code_{{ index }}" [formControl]="nameLanguage.controls['languageCode']">
                  <option *ngFor="let language of appService.languages" [ngValue]="language.code">
                    {{ language.name }}
                  </option>
                </select>

              </div>

              <div class="{{ model.formGroup.controls.languages['controls'].length > 1 ? 'col-lg-8' : 'col-lg-10' }}">

                <label class="d-flex justify-content-between form-check-label mr-1" for="address_language_name_{{ index }}">
                  <strong>Адреса</strong>

                  <ng-container
                    *ngIf="nameLanguage.controls['address'].invalid && (nameLanguage.controls['address'].dirty || nameLanguage.controls['address'].touched || submitted)">

                    <small class="text-danger" *ngIf="nameLanguage.controls['address'].errors.required">

                      Поле не може бути пустим.

                    </small>

                  </ng-container>
                </label>
                <input placeholder="Адреса, вул. Шевченка, буд. 9, офіс 2" type="text" class="form-control" id="address_language_name_{{ index }}" name="address_language_name_{{ index }}"
                       [formControl]="nameLanguage.controls['address']">

              </div>
              <div class="col-2" *ngIf="model.formGroup.controls.languages['controls'].length > 1">
                <br>
                <button (click)="model.deleteFormLanguage(index)" class="btn btn-block btn-danger">
                  Видалити
                </button>
              </div>

            </div>

          </div>

        </fieldset>

        <hr>

        <div class="row">

          <div class="col-md-12">

            <button [disabled]="model.localityId === undefined || null" class="btn btn-block btn-sm btn-secondary" data-toggle="modal" data-target="#modalForFindDataByName">
              Спробувати знайти всі координати по назві або адресі
            </button>

          </div>

        </div>

        <hr>

        <div class="row">

          <!-- Start Input -->

          <div class="col-md-6">


            <label class="d-flex justify-content-between form-check-label" for="POS-form-latitude">
              <strong>Широта <small class="text-muted">(latitude)</small></strong>

              <ng-container
                *ngIf="model.formGroup.controls['latitude'].invalid && (model.formGroup.controls['latitude'].dirty || model.formGroup.controls['latitude'].touched || submitted)">

                <small class="text-danger" *ngIf="model.formGroup.controls['latitude'].errors.required">

                  Поле не може бути пустим.

                </small>

              </ng-container>

            </label>

            <input class="form-control" id="POS-form-latitude" name="latitude" type="text" formControlName="latitude" placeholder="00.00">


          </div>

          <!-- END Input -->

          <!-- Start Input -->

          <div class="col-md-6">


            <label class="d-flex justify-content-between form-check-label" for="POS-form-longitude">
              <strong>Довгота <small class="text-muted">(longitude)</small></strong>

              <ng-container
                *ngIf="model.formGroup.controls['longitude'].invalid && (model.formGroup.controls['longitude'].dirty || model.formGroup.controls['longitude'].touched || submitted)">

                <small class="text-danger" *ngIf="model.formGroup.controls['longitude'].errors.required">

                  Поле не може бути пустим.

                </small>

              </ng-container>

            </label>

            <input class="form-control" id="POS-form-longitude" name="longitude" type="text" formControlName="longitude" placeholder="00.00">


          </div>

          <!-- END Input -->

        </div>

        <hr>

        <div class="row">

          <!-- Start Input -->

          <div class="col-md-12">


            <label class="d-flex justify-content-between form-check-label" for="POS-form-comment">
              <strong>Додаткова інформація</strong>

              <ng-container
                *ngIf="model.formGroup.controls['comment'].invalid && (model.formGroup.controls['comment'].dirty || model.formGroup.controls['comment'].touched || submitted)">

                <small class="text-danger" *ngIf="model.formGroup.controls['comment'].errors.required">

                  Поле не може бути пустим.

                </small>

              </ng-container>

            </label>

            <textarea class="form-control" id="POS-form-comment" name="comment" type="number" formControlName="comment" placeholder="Залишіть якусь додаткову інформацію про торгову точку"></textarea>


          </div>

          <!-- END Input -->

        </div>

        <hr>

        <input *ngIf="!isFromCompanyForm" (click)="savePOS()" type="submit" class="btn btn-success btn-block">

      </form>

    </div>
  </div>

</ng-container>

<!-- Modal -->
<div class="modal fade" id="modalForFindDataByName" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"
            id="selectedListOfTagsLabel">Знайти необхідні дані для форми</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="row">

          <!-- Start Input -->

          <div class="col-md-12">


            <label class="d-flex justify-content-between" for="input-address-or-name-company">
              <strong>Писати перед назвою міста:</strong>

            </label>

            <input [(ngModel)]="findByNameOrAddress" class="form-control" id="input-address-or-name-company" name="comment" type="text" placeholder="Введи тут назву закладу або адерсу">


          </div>

          <!-- END Input -->

        </div>
        <br>
        <div class="row">

          <!-- Start Input -->

          <div class="col-md-12">

            <button (click)="findLongAndLat()" class="btn btn-sm btn-block btn-primary">Знайди</button>

          </div>

          <!-- END Input -->
        </div>
        <ng-container *ngIf="dataAfterFind !== null && dataAfterFind['results'].length > 0">

          <hr>

          <strong>Додаткова інформація</strong>

          <ul>
            <li>Ліміт: {{ dataAfterFind['rate']['limit'] }}</li>
            <li>Залишилось: {{ dataAfterFind['rate']['remaining'] }}</li>
            <li>Оновлення ліміту: {{ dataAfterFind['rate']['reset'] | date: 'dd-MM-yyyy HH:ii:ss' }}</li>
          </ul>

          <ng-container *ngFor="let data of dataAfterFind['results']; let index = index">

            <hr>
            <div class="row">

              <div class="col-md-12">

                <strong>{{ index+1 }}</strong>

              </div>

              <div class="col-md-12">

                <ul>
                  <li>Адреса: <strong>{{ data['formatted'] }}</strong></li>
                  <li>Latitude: <strong>{{ data['geometry']['lat'] }}</strong></li>
                  <li>Longitude: <strong>{{ data['geometry']['lng'] }}</strong></li>
                  <li><a href="{{ data['annotations']['OSM']['url'] }}" target="_blank">Переглянути на мапі</a></li>
                  <li><a href="{{ data['annotations']['OSM']['edit_url'] }}" target="_blank">Редагувати дані на мапі</a></li>
                </ul>

              </div>

            </div>
            <div class="row">
              <div class="col-md-4 offset-md-8">

                <button type="button" class="btn btn-success" data-dismiss="modal" (click)="useSelectData(data)">Використати</button>

              </div>
            </div>

          </ng-container>

        </ng-container>

      </div>
      <div class="modal-footer d-flex justify-content-between">
        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Закрити</button>
      </div>
    </div>
  </div>
</div>
