<div id="slide-checkbox" (click)="_changeChecked($event)">

  <div class="title text-right" [class.text-danger]="!_checked" [class.text-success]="_checked">{{ _checked ? 'Tak' : 'Nie' }}</div>

  <label class="switch">
    <input [checked]="_checked" (click)="_changeChecked($event)" type="checkbox">
    <span class="slider custom-round"></span>
  </label>

</div>
