/*******************/
/*Feed widget*/
/*******************/

.feeds {
    margin: 0;
    padding: 0;
    li {
        list-style: none;
        padding: 12px 15px;
        display: block;
        &:hover {
            background: $gray-100;
        }
        > div {
            width: 40px;
            height: 40px;
            margin-right: 5px;
            display: inline-block;
            text-align: center;
            vertical-align: middle;
            border-radius: 100%;
            color:$white;
            i {
                line-height: 40px;
            }
        }
        span {
            float: right;
            width: auto;
            font-size: 12px;
        }
    }
}


