<ng-container *ngIf="model === null">

  <div class="loader d-none">
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>

</ng-container>

<ng-container *ngIf="model !== null">

  <!-- DataTales Example -->
  <div class="card shadow mt-4">
    <div class="card-header">
      <div class="d-flex justify-content-between">
        <h5 class="m-0 font-weight-bold text-primary">
          {{ model._isNew ? 'Додавання нового повідомлення' : 'Редагування повідомлення: ' + model.id }}
        </h5>
        <a href="#/business/notification{{ model._isNew ? '' : '/view/' + model.id }}" class="btn btn-sm btn-secondary">
          Відмінити
        </a>
      </div>
    </div>
    <div class="card-body">

      <form [formGroup]="model.formGroup" class="form-group" (ngSubmit)="saveDocument()">

        <div class="row">

          <!-- Start Input -->

          <div class="col-md-4">


            <label class="d-flex justify-content-between" for="notification-form-topics">
              <span>TOPICS:</span>

              <ng-container
                *ngIf="model.formGroup.controls['topics'].invalid && (model.formGroup.controls['topics'].dirty || model.formGroup.controls['topics'].touched)">

                <small class="text-danger" *ngIf="model.formGroup.controls['topics'].errors.required">

                  Поле не може бути пустим.

                </small>

              </ng-container>

            </label>


            <ng-select [items]="topics"
                       [addTag]="addTagPromise"
                       [loading]="loading"
                       [multiple]="true"
                       (change)="changeSearch($event)"
                       placeholder="Напиши власний або вибери topic/тему"
                       id="notification-form-topics"
                       bindValue="name"
                       bindLabel="name"
                       formControlName="topics"
                       [(ngModel)]="selectedTopics">
            </ng-select>

<!--            <input class="form-control" id="notification-form-topic" name="topic" type="text" formControlName="topic" placeholder="Вкажіть topic">-->


          </div>

          <!-- END Input -->

          <!-- Start Input -->

          <div class="col-md-4">


            <label class="d-flex justify-content-between" for="notification-form-localities">
              <span>Місцевість: <small class="text-muted">(Не є обов'язковим)</small></span>

              <ng-container
                *ngIf="model.formGroup.controls['localities'].invalid && (model.formGroup.controls['localities'].dirty || model.formGroup.controls['localities'].touched)">

                <small class="text-danger" *ngIf="model.formGroup.controls['localities'].errors.required">

                  Поле не може бути пустим.

                </small>

              </ng-container>

            </label>

            <ng-select
              [items]="cities"
              [multiple]="true"
              [closeOnSelect]="true"
              [searchable]="true"
              bindValue="id"
              bindLabel="name"
              id="notification-form-localities"
              placeholder="Виберіть місто"
              formControlName="localities"
              (change)="changed($event)">
            </ng-select>

          </div>

          <!-- END Input -->

          <!-- Start Input -->

          <div class="col-md-4">

            <label class="d-flex justify-content-between" for="notification-form-access">
              <span>Для кого це повідомлення:</span>

              <ng-container
                *ngIf="model.formGroup.controls['access'].invalid && (model.formGroup.controls['access'].dirty || model.formGroup.controls['access'].touched)">

                <small class="text-danger" *ngIf="model.formGroup.controls['access'].errors.required">

                  Поле не може бути пустим.

                </small>

              </ng-container>

            </label>

            <select id="notification-form-access" formControlName="access" class="form-control">
              <option [ngValue]="1" [disabled]="companyId !== undefined && companyId !== null">Всім Android/IOS/Web</option>
              <option [ngValue]="2" [disabled]="companyId === undefined || companyId === null">Підписникам</option>
              <option [ngValue]="3" disabled>Для вибраних користувачів</option>
            </select>

          </div>

          <!-- END Input -->

          <!-- Start Input -->

          <div class="col-md-4" *ngIf="!model._isNew">


            <label class="d-flex justify-content-between" for="notification-form-status">
              <span>Статус:</span>

              <ng-container
                *ngIf="model.formGroup.controls['status'].invalid && (model.formGroup.controls['status'].dirty || model.formGroup.controls['status'].touched)">

                <small class="text-danger" *ngIf="model.formGroup.controls['status'].errors.required">

                  Поле не може бути пустим.

                </small>

              </ng-container>

            </label>

            <select id="notification-form-status" formControlName="status" class="form-control">
              <option [ngValue]="2">Опублікований</option>
              <option [ngValue]="1">Неопублікований</option>
            </select>


          </div>

          <!-- END Input -->

        </div>

<!--        TODO added schedule datetime-->

<!--        <div class="row">-->

<!--          &lt;!&ndash; Start Input &ndash;&gt;-->

<!--          <div class="col-md-4">-->

<!--            <label class="d-flex justify-content-between" for="contract-form-validityTo">-->
<!--              <span>Дата коли відправити повідомлення:</span>-->

<!--              <ng-container-->
<!--                *ngIf="model.formGroup.controls['validityTo'].invalid && (model.formGroup.controls['validityTo'].dirty || model.formGroup.controls['validityTo'].touched || submitted)">-->

<!--                <small class="text-danger" *ngIf="model.formGroup.controls['validityTo'].errors.required">-->

<!--                  Поле не може бути пустим.-->

<!--                </small>-->

<!--              </ng-container>-->

<!--            </label>-->

<!--            &lt;!&ndash;            <input class="form-control" id="contract-form-validityTo" name="validityTo" type="number" formControlName="validityTo" placeholder="0">&ndash;&gt;-->
<!--            <div class="input-group">-->
<!--              <input class="form-control" id="contract-form-validityTo" placeholder="yyyy-mm-dd" name="validityTo" [(ngModel)]="to" ngbDatepicker #DTo="ngbDatepicker" formControlName="validityTo">-->
<!--              <div class="input-group-append">-->
<!--                <button class="btn btn-outline-secondary calendar" (click)="DTo.toggle()" type="button">-->
<!--                  <i class="fas fa-calendar-alt"></i>-->
<!--                </button>-->
<!--              </div>-->
<!--            </div>-->


<!--          </div>-->

<!--          &lt;!&ndash; END Input &ndash;&gt;-->

<!--          &lt;!&ndash; Start Input &ndash;&gt;-->

<!--          <div class="col-md-4">-->

<!--            <label class="d-flex justify-content-between" for="contract-form-validityTo">-->
<!--              <span>Дата коли відправити повідомлення:</span>-->

<!--              <ng-container-->
<!--                *ngIf="model.formGroup.controls['validityTo'].invalid && (model.formGroup.controls['validityTo'].dirty || model.formGroup.controls['validityTo'].touched || submitted)">-->

<!--                <small class="text-danger" *ngIf="model.formGroup.controls['validityTo'].errors.required">-->

<!--                  Поле не може бути пустим.-->

<!--                </small>-->

<!--              </ng-container>-->

<!--            </label>-->

<!--            &lt;!&ndash;            <input class="form-control" id="contract-form-validityTo" name="validityTo" type="number" formControlName="validityTo" placeholder="0">&ndash;&gt;-->
<!--            <ngb-timepicker [(ngModel)]="time"></ngb-timepicker>-->


<!--          </div>-->

<!--          &lt;!&ndash; END Input &ndash;&gt;-->

<!--        </div>-->

        <hr>

        <div class="d-flex justify-content-between">

          <h3>Назва та текст повідомлення для мови</h3>

          <button [class.disabled]="appService.languages.length === model.formGroup.controls.languages['controls'].length" class="btn btn-sm btn-success" (click)="model.addNewLanguageToForm()">
            Додати мову
          </button>

        </div>

        <fieldset formArrayName="languages">

          <div *ngFor="let nameLanguage of model.formGroup.controls.languages['controls']; let index = index">

            <hr>

            <div class="row mt-4">

              <div class="col-2">

                <label class="form-check-label mr-1" for="name_language_code_{{ index }}">
                  Мова
                </label>
                <select class="form-control" id="name_language_code_{{ index }}" name="name_language_code_{{ index }}" [formControl]="nameLanguage.controls['languageCode']">
                  <option *ngFor="let language of appService.languages" [ngValue]="language.code">
                    {{ language.name }}
                  </option>
                </select>

              </div>

              <div class="{{ model.formGroup.controls.languages['controls'].length > 1 ? 'col-md-8' : 'col-md-10' }}">

                <label class="d-flex justify-content-between form-check-label mr-1" for="title_language_name_{{ index }}">
                  Назва повідомлення

                  <ng-container
                    *ngIf="nameLanguage.controls['title'].invalid && (nameLanguage.controls['title'].dirty || nameLanguage.controls['title'].touched || submitted)">

                    <small class="text-danger" *ngIf="nameLanguage.controls['title'].errors.required">

                      Поле не може бути пустим.

                    </small>

                  </ng-container>
                </label>
                <input type="text" class="form-control" id="title_language_name_{{ index }}" name="title_language_name_{{ index }}"
                       [formControl]="nameLanguage.controls['title']" placeholder="Назву писати в тій мові яка була вибрана">

              </div>
              <div class="col-2" *ngIf="model.formGroup.controls.languages['controls'].length > 1">
                <br>
                <button (click)="model.deleteFormLanguage(index)" class="btn btn-block btn-danger">
                  Видалити
                </button>
              </div>

            </div>

            <div class="row mt-4">

              <div class="col-12">

                <label class="d-flex justify-content-between form-check-label mr-1" for="body_language_name_{{ index }}">
                  Текст повідомлення

                  <ng-container
                    *ngIf="nameLanguage.controls['body'].invalid && (nameLanguage.controls['body'].dirty || nameLanguage.controls['body'].touched || submitted)">

                    <small class="text-danger" *ngIf="nameLanguage.controls['body'].errors.required">

                      Поле не може бути пустим.

                    </small>

                  </ng-container>
                </label>
                <textarea type="text" class="form-control" id="body_language_name_{{ index }}" name="body_language_name_{{ index }}"
                          [formControl]="nameLanguage.controls['body']" placeholder="Текст повідомлення писати на тій мові яка була вибрана"></textarea>

              </div>

            </div>

          </div>

        </fieldset>

        <hr>

        <input type="submit" class="btn btn-success btn-block">

      </form>

    </div>
  </div>

</ng-container>
