:host ::ng-deep {

  .show-passwords {

    width: 25px;
    cursor: pointer;
    color: #AAAAAA;
    text-align: right;

    &:hover {

      color: #909090;

    }

  }

  .bg-gradient-primary {

    background-color: #df4e4e;
    background-image: linear-gradient(180deg,#beab22 10%,#df4e4e 100%);
    background-size: cover;

  }

}
