<!-- DataTales Example -->

<div class="card shadow mt-4">
  <app-karba-title
    [coreId]="id"
    [pageId]="pageId"
    [loading]="loading"
    (clickOnRefreshBtn)="clickOnRefreshBtn()"
    (clickOnCollapseBtn)="clickOnCollapseBtn()"
    [initHideBody]="initHideBody"
    title="Заклади"
    [showTotal]="initialized && collapseContent"
    [total]="filter.total">


    <a href="#/business/company/create" class="btn btn-sm btn-primary">
      Додати новий заклад
    </a>

  </app-karba-title>
  <div class="card-body pt-0" [class.collapse]="initHideBody" [class.show]="!initHideBody" id="card-body-{{ id }}">
    <div [class.filter-panel]="isDesktop" [class.mb-4]="!isDesktop" class="row">
      <div class="col-sm-12 col-12 col-md-3 pr-0">
        <label class="w-100" for="search">Пошук

          <div class="input-group">
            <input (keydown.enter)="doFiltering()" type="text"
                   [(ngModel)]="filter.search" id="search" name="search"
                   placeholder="Що будемо шукати?" class="form-control form-control-sm">
            <button *ngIf="filter.search.length > 1" (click)="clearSearch()"
                    class="btn bg-transparent btn-clear-input">
              <i class="fa fa-times"></i>
            </button>
          </div>
        </label>
      </div>
      <div class="col-sm-12 col-12 col-md-2 pr-0">
        <label class="w-100">
          Статус
          <select (change)="doFiltering()" [(ngModel)]="filter.status" name="status"
                  class="custom-select custom-select-sm form-control form-control-sm">
            <option [ngValue]="null">Всі</option>
            <option [ngValue]="2">Опубліковані</option>
            <option [ngValue]="1">Неопубліковані</option>
            <option [ngValue]="0">Заблаковані</option>
          </select>
        </label>
      </div>
      <div class="col-sm-12 col-12 col-md-1 pr-0">
        <label class="w-100">
          Кількість
          <select (change)="doFiltering()" [(ngModel)]="filter.count" name="count"
                  class="custom-select custom-select-sm form-control form-control-sm">
            <option [ngValue]="25">25</option>
            <option [ngValue]="50">50</option>
            <option [ngValue]="75">75</option>
            <option [ngValue]="100">100</option>
          </select>
        </label>
      </div>
      <div class="col-sm-12 col-12 col-md-4">

        <label for="pagination" class="w-100">
          Сторінки <small class="text-muted">({{ filter.lastPage }})</small>
          <div class="pagination" id="pagination">

            <div class="btn-group btn-group-sm special" role="group">

              <button [disabled]="filter.actualPage === 1" class="btn btn-outline-secondary"
                      (click)="filter.goToFirstPage(); doFiltering(false)">
                <i class="fas fa-angle-double-left"></i>
              </button>

              <button
                *ngFor="let page of filter.pageList"
                class="btn"
                [class.btn-outline-secondary]="page !== filter.actualPage"
                [class.btn-primary]="page === filter.actualPage"
                (click)="filter.changePage(page); doFiltering(false)">

                {{ page }}

              </button>

              <button [disabled]="filter.actualPage === filter.lastPage"
                      class="btn btn-outline-secondary"
                      (click)="filter.goToLastPage(); doFiltering(false)">
                <i class="fas fa-angle-double-right"></i>
              </button>

            </div>

          </div>
        </label>

      </div>
    </div>
    <ng-container *ngIf="isDesktop; else isNotDesktop">
      <div class="filter-panel-shadow"></div>
      <table class="table-sm table table-bordered sticky sticky-columns-8 table-striped text-left">
        <thead>
        <tr>
          <th>
          <span class="cursor-pointer" (click)="filter.changeOrderBy('id'); doFiltering()" [class.active]="filter.orderBy === 'id'">
            <i *ngIf="filter.sort === 'ASC'" class="fas fa-sort-alpha-down"></i>
            <i *ngIf="filter.sort === 'DESC'" class="fas fa-sort-alpha-down-alt"></i>
            ID
          </span>
          </th>
          <th>
          <span class="cursor-pointer" (click)="filter.changeOrderBy('name'); doFiltering()" [class.active]="filter.orderBy === 'name'">
            <i *ngIf="filter.sort === 'ASC'" class="fas fa-sort-alpha-down"></i>
            <i *ngIf="filter.sort === 'DESC'" class="fas fa-sort-alpha-down-alt"></i>
            Назва
          </span>
          </th>
          <th>Лого</th>
          <!--                <th>Коротка назва</th>-->
          <!--                <th>Назва на латиниці</th>-->
          <th>Колір</th>
          <th>
          <span class="cursor-pointer" (click)="filter.changeOrderBy('status'); doFiltering()" [class.active]="filter.orderBy === 'status'">
            <i *ngIf="filter.sort === 'ASC'" class="fas fa-sort-alpha-down"></i>
            <i *ngIf="filter.sort === 'DESC'" class="fas fa-sort-alpha-down-alt"></i>
            Статус
          </span>
          </th>
          <th>
          <span class="cursor-pointer" (click)="filter.changeOrderBy('ikoint'); doFiltering()" [class.active]="filter.orderBy === 'ikoint'">
            <i *ngIf="filter.sort === 'ASC'" class="fas fa-sort-alpha-down"></i>
            <i *ngIf="filter.sort === 'DESC'" class="fas fa-sort-alpha-down-alt"></i>
            IK.
          </span>
          </th>
          <th>
          <span class="cursor-pointer" (click)="filter.changeOrderBy('updated_at'); doFiltering()" [class.active]="filter.orderBy === 'updated_at'">
            <i *ngIf="filter.sort === 'ASC'" class="fas fa-sort-alpha-down"></i>
            <i *ngIf="filter.sort === 'DESC'" class="fas fa-sort-alpha-down-alt"></i>
            Оновлення
          </span>
          </th>
          <th>Дії</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let company of companies; let index = index">
          <td>
            {{ company.id }}
          </td>
          <td>
            {{ company.name }}
          </td>
          <td>
            <img width="100px" height="100px" [src]="company.logoUrl.requestScheme + company.logoUrl.host + company.logoUrl.path + company.logoUrl.fileName" alt="">
          </td>
          <!--                <td>-->
          <!--                  {{ company.shortName }}-->
          <!--                </td>-->
          <!--                <td>-->
          <!--                  {{ company.latinName }}-->
          <!--                </td>-->
          <td class="d-flex flex-column align-items-center justify-content-center">
            <div [ngStyle]="{'width': '75px', 'height': '75px', 'border-radius': '50%', 'background-color': '#' + company.primaryColor}">
            </div>
            <span>
              #{{ company.primaryColor }}
            </span>
          </td>
          <td>
            <i title="{{ statusName(company.status) }}" *ngIf="company.status === 1" class="text-warning fas fa-clock"></i>
            <i title="{{ statusName(company.status) }}" *ngIf="company.status === 0" class="text-danger fas fa-lock"></i>
            <i title="{{ statusName(company.status) }}" *ngIf="company.status === 2" class="text-success fas fa-check-circle"></i>
          </td>
          <td>
            {{ company.ikoint }}
          </td>
          <td>
            {{ company.updatedAt }}
          </td>
          <td>
            <button title="Перегляд" class="btn btn-block btn-sm btn-outline-primary" routerLink="/business/company/view/{{ company.id }}" (click)="selectCompany(company)">
              <i class="far fa-eye"></i>
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </ng-container>
    <ng-template #isNotDesktop>

      <div class="row">
        <ng-container *ngFor="let company of companies; let index = index">
          <div class="col-md-6 col-sm-6 col-lg-4 col-6">
            <div class="card">
              <img class="card-img-top" width="100%" [src]="company.logoUrl.requestScheme + company.logoUrl.host + company.logoUrl.path + company.logoUrl.fileName" alt="">
              <div class="card-body p-2">
                <strong class="card-title">
                  {{ company.name }}
                </strong>
                <button title="Перегляд" class="btn btn-block btn-sm btn-outline-info" routerLink="/business/company/view/{{ company.id }}">
                  <i class="far fa-eye"></i>
                </button>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </ng-template>
    <ng-container *ngIf="companies === undefined || companies === null || companies.length === 0">
      <div class="text-muted">
        Дані відсутні.
      </div>
    </ng-container>
  </div>
</div>
