/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css?family=Fira+Sans&display=swap');

// NG-SELECT 2
@import "~@ng-select/ng-select/themes/default.theme.css";

// CUSTOM
@import "assets/scss/variables";

// THEME
@import "assets/theme/scss/style";

/* Angular editor WYS WYG*/
.btn-clear-input {//TODO: without important

  margin-left: -40px !important;
  z-index: 100 !important;;
  padding-top: 0 !important;;
  padding-bottom: 0 !important;;

}

html {
  scroll-behavior: smooth;
}

*[disabled] {

  cursor: not-allowed;

}

body{
  .modal {

    z-index: 999999999;
    //background-color: rgba(0,0,0,0.5);

  }

  .modal-backdrop {

    z-index: 99999999;
  }
}

select{

  cursor: pointer;

}

.input-group {
  >.form-control {
    padding-right: 35px;
  }
}

.form-control {
  &.ng-select-single {
    &.ng-select-container-sm {
      .ng-select-container {
        height: 31px;
      }
    }
  }
  &.ng-select {
    border: none;
    padding: 0;
    &.ng-select-container-sm {

      .ng-select-container {
        min-height: 31px;
      }
    }
  }
}

.angular-editor-toolbar {

  position: sticky;
  top: -1px;
  z-index: 25;

  //.angular-editor-toolbar-set:nth-child(3),
  //.angular-editor-toolbar-set:nth-child(4),
  .angular-editor-toolbar-set:nth-child(6) {
    display: none !important;
  }
}


.cursor-pointer {

  cursor: pointer;

}

#strikeThrough-angular-editor,
#subscript-angular-editor,
#superscript-angular-editor,
  //#justifyLeft-angular-editor,
  //#justifyCenter-angular-editor,
  //#justifyRight-angular-editor,
  //#justifyFull-angular-editor,
  //#indent-angular-editor,
  //#outdent-angular-editor,
  //#heading-angular-editor,
#fontSelector-angular-editor,
  //#fontSizeSelector-angular-editor,
#backgroundColorPicker-angular-editor,
#insertImage-angular-editor,
#insertVideo-angular-editor,
  //#insertHorizontalRule-angular-editor
{
  display: none;
}
