.topbar {

  z-index: 1000000;
  box-shadow: 0 0 5px rgba(0,0,0,0.5);

  .top-navbar .navbar-header {

    min-width: 0 !important;
    padding: 0 !important;

  }

}

.phone-hide {
  display: inline;
}
@media (max-width: 767px)  {
  .phone-hide {
    display: none;
  }
  .topbar .top-navbar .navbar-nav .nav-item > .nav-link {
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    width: 50px;
    font-size: 15px;
  }
}


.m-260px {

  margin-left: 260px;

}
