#notification-component {

  position: fixed;
  left: 0;
  top: 0;
  max-height: 100%;
  z-index: 10000000;
  overflow: auto;
  padding-top: 15px;

  .notification-component {

    .card-header {

      padding: 0;
      margin-bottom: 0;
      background-color: rgba(0, 0, 0, 0.03);
      border-bottom: 0 solid transparent;;

    }

    .card-body {

      padding: 10px 15px;

    }

    .card-header > header {

      padding: 5px 15px;

    }

  }

  .card-header-progress-bar {

    padding: 0 10px 0 10px;

  }

  .notification-component {

    display: block;
    transition: visibility 0s linear 0.33s, opacity 0.33s linear;

  }

  .show {

    visibility: visible;
    opacity: 1;

    transition-delay: 0s;

  }

  .hide {

    visibility: hidden;
    opacity: 0;

  }

  .notification-component > .card {

    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);

  }

  .close {

    cursor: pointer;
    color: rgba(0,0,0,0.5);
    text-shadow: unset;

  }

  .progress {

    background: unset;
    border-radius: 0;
    height: 10px;

  }

  .progress-bar {

    height: 10px;
    background-color: rgba(0,0,0,0.2);
    border-radius: 2px;
    transition: 0.4s linear;
    transition-property: width, background-color;

  }

  .progress-striped .progress-bar {

    width: 100%;

  }

}

@keyframes progressAnimationStrike {
  from { width: 100% }
  to   { width: 0 }
}

.bg-primary {
  background-color: #0275d8 !important;
}

a.bg-primary:focus, a.bg-primary:hover {
  background-color: #025aa5 !important;
}

.bg-success {
  background-color: #5cb85c !important;
}

a.bg-success:focus, a.bg-success:hover {
  background-color: #449d44 !important;
}

.bg-info {
  background-color: #5bc0de !important;
}

a.bg-info:focus, a.bg-info:hover {
  background-color: #31b0d5 !important;
}

.bg-warning {
  background-color: #f0ad4e !important;
}

a.bg-warning:focus, a.bg-warning:hover {
  background-color: #ec971f !important;
}

.bg-danger {
  background-color: #d9534f !important;
}

a.bg-danger:focus, a.bg-danger:hover {
  background-color: #c9302c !important;
}

.bg-inverse {
  background-color: #292b2c !important;
}

a.bg-inverse:focus, a.bg-inverse:hover {
  background-color: #101112 !important;
}
