<div *ngIf="notificationList.length > 0" id="notification-component" class="col-md-6 offset-md-3">

  <ng-container *ngFor="let notification of notificationList; let index = index">

    <div *ngIf="notification.show" class="notification-component" [class.show]="notification.show" [class.hide]="!notification.show">
      <div class="card text-white" [ngClass]="notification._bgColor">
<!--        <div class="card-header">-->
<!--          <header>-->

<!--            <div class="row">-->
<!--            </div>-->

<!--          </header>-->
<!--        </div>-->
        <div class="card-body">

          <div class="row">
            <div class="col-4 text-left">
              <strong>{{ notification.title }}</strong>
            </div>
            <div class="col-6">
              {{ notification.body }}
            </div>
            <div class="col-2 text-right">
              <div class="close">
                <i (click)="close(index)" class="fas fa-times"></i>
              </div>
            </div>
          </div>

        </div>

        <div class="progress progress-striped" [ngStyle]="{'animation': 'progressAnimationStrike ' + notification.timer + 'ms'}">
          <div class="progress-bar">
          </div>
        </div>

      </div>
    </div>

  </ng-container>

</div>
