<div id="app-admin" class="skin-default-dark fixed-header fixed-sidebar" [class.lock-nav]="adminService.showSidebar">

  <!-- ============================================================== -->
  <!-- Main wrapper - style you can find in pages.scss -->
  <!-- ============================================================== -->
  <div id="main-wrapper">
    <!-- ============================================================== -->
    <!-- Topbar header - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <app-admin-panel-header></app-admin-panel-header>
    <!-- ============================================================== -->
    <!-- End Topbar header -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Left Sidebar - style you can find in sidebar.scss  -->
    <!-- ============================================================== -->
    <app-admin-panel-sidebar></app-admin-panel-sidebar>
    <!-- ============================================================== -->
    <!-- End Left Sidebar - style you can find in sidebar.scss  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Page wrapper  -->
    <!-- ============================================================== -->
    <div class="page-wrapper">
      <!-- ============================================================== -->
      <!-- Container fluid  -->
      <!-- ============================================================== -->
      <div class="container-fluid">
        <router-outlet></router-outlet>
      </div>
      <!-- ============================================================== -->
      <!-- End Container fluid  -->
      <!-- ============================================================== -->

      <button style="display: none" id="btn-to-top" class="rounded">
        <i class="fas fa-angle-up"></i>
      </button>
    </div>
    <!-- ============================================================== -->
    <!-- End Page wrapper  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- footer -->
    <!-- ============================================================== -->
<!--    <app-admin-panel-footer></app-admin-panel-footer>-->
    <!--    <footer class="footer">-->
    <!--      © 2019 By Efendi-->
    <!--    </footer>-->
    <!-- ============================================================== -->
    <!-- End footer -->
    <!-- ============================================================== -->
  </div>
  <!-- ============================================================== -->
  <!-- End Wrapper -->
  <!-- ============================================================== -->

</div>

<!-- Scroll to Top Button-->
<!--<app-admin-panel-floating-button-scroll-to-top></app-admin-panel-floating-button-scroll-to-top>-->
<!-- End of Scroll to Top Button -->
