:host ::ng-deep {

  #btn-to-top {

    position: fixed;
    bottom: 25px;
    right: 25px;
    border: 0;
    background-color: #0099FF;
    color: white;
    width: 40px;
    height: 40px;
    padding: 10px;

  }

  @mixin table($columns) {
    display: grid;
    $firstColumnWidth: 100px;
    $lastColumnWidth: 100px;

    $gridTemplateColumns: + 100px;
    @for $_ from 1 through ($columns - 2) {
      $gridTemplateColumns: calc((100% - #{$firstColumnWidth + $lastColumnWidth})/#{$columns - 2})  #{" "} $gridTemplateColumns;
    }

    grid-template-columns: $firstColumnWidth $gridTemplateColumns;
  }

  .filter-panel {

    padding-top: 10px;
    height: 75px;
    background-color: white;
    position: -webkit-sticky;
    position: sticky;
    z-index: 999999;
    top: -1px;

    .pagination {

      .btn-group {

        display: flex;

        .btn {
          flex: 1
        }

      }

    }

  }

  .filter-panel-shadow {

    width: 100%;
    border-bottom: 1px solid #dee2e6;
    height: 1px;
    position: -webkit-sticky;
    position: sticky;
    top: 75px;
    z-index: 7;

  }

  table {

    position: relative;

    @for $i from 2 through 12 {
      &.sticky-columns-#{$i} {
        thead, tbody{
          tr{
            @include table($i);
          }
        }
      }
    }

    .hide {

      display: none;

    }

    &.sticky {
      display: grid;
      thead {
        position: -webkit-sticky;
        position: sticky;
        top: 73px;

        tr {
          th {

            background-color: white;

            span {

              cursor: pointer;
              margin-right: 10px;

              i {

                color: #AAAAAA;

              }

              &.active {

                i {

                  color: #222222;

                }

              }

            }

          }

        }

      }

    }

    tbody {

      tr {
        td {
          word-break: break-word;
          &.btn {

            cursor: pointer;

          }

        }

      }

    }

  }

}
