<!-- DataTales Example -->

<div class="card shadow mt-4">
  <app-karba-title
    [coreId]="id"
    [pageId]="pageId"
    [loading]="loading"
    (clickOnRefreshBtn)="clickOnRefreshBtn()"
    (clickOnCollapseBtn)="clickOnCollapseBtn()"
    [initHideBody]="initHideBody"
    title="Повідомлення"
    [showTotal]="initialized && collapseContent"
    [total]="filter.total">

    <a href="#/business/notification/create" class="btn btn-sm btn-primary">
      Додати нове повідомлення
    </a>

  </app-karba-title>
  <div class="card-body pt-0" [class.collapse]="initHideBody" [class.show]="!initHideBody" id="card-body-{{ id }}">
    <div class="filter-panel row">
      <div class="col-sm-12 col-md-3 pr-0">
        <label class="w-100" for="search">Пошук

          <div class="input-group">
            <input (keydown.enter)="doFiltering()" type="text"
                   [(ngModel)]="filter.search" id="search" name="search"
                   placeholder="Що будемо шукати?" class="form-control form-control-sm">
            <button *ngIf="filter.search.length > 1" (click)="clearSearch()"
                    class="btn bg-transparent btn-clear-input">
              <i class="fa fa-times"></i>
            </button>
          </div>
        </label>
      </div>
      <div class="col-sm-12 col-md-2 pr-0">
        <label>
          Статус
          <select (change)="doFiltering()" [(ngModel)]="filter.status" name="status"
                  class="custom-select custom-select-sm form-control form-control-sm">
            <option [ngValue]="null">Всі</option>
            <option [ngValue]="2">Опубліковані</option>
            <option [ngValue]="1">Неопубліковані</option>
            <option [ngValue]="0">Заблаковані</option>
          </select>
        </label>
      </div>
      <div class="col-sm-12 col-md-1 pr-0">
        <label>
          Кількість
          <select (change)="doFiltering()" [(ngModel)]="filter.count" name="count"
                  class="custom-select custom-select-sm form-control form-control-sm">
            <option [ngValue]="25">25</option>
            <option [ngValue]="50">50</option>
            <option [ngValue]="75">75</option>
            <option [ngValue]="100">100</option>
          </select>
        </label>
      </div>
      <div class="col-sm-12 col-md-4">

        <label for="pagination" class="w-100">
          Сторінки <small class="text-muted">({{ filter.lastPage }})</small>
          <div class="pagination" id="pagination">

            <div class="btn-group btn-group-sm special" role="group">

              <button [disabled]="filter.actualPage === 1" class="btn btn-outline-secondary"
                      (click)="filter.goToFirstPage(); doFiltering(false)">
                <i class="fas fa-angle-double-left"></i>
              </button>

              <button
                *ngFor="let page of filter.pageList"
                class="btn"
                [class.btn-outline-secondary]="page !== filter.actualPage"
                [class.btn-primary]="page === filter.actualPage"
                (click)="filter.changePage(page); doFiltering(false)">

                {{ page }}

              </button>

              <button [disabled]="filter.actualPage === filter.lastPage"
                      class="btn btn-outline-secondary"
                      (click)="filter.goToLastPage(); doFiltering(false)">
                <i class="fas fa-angle-double-right"></i>
              </button>

            </div>

          </div>
        </label>

      </div>
    </div>
    <div class="filter-panel-shadow"></div>
    <table class="table-sm table table-bordered sticky sticky-columns-5 table-striped text-left">
      <thead>
      <tr>
        <th>
          <span class="cursor-pointer" (click)="filter.changeOrderBy('id'); doFiltering()" [class.active]="filter.orderBy === 'id'">
            <i *ngIf="filter.sort === 'ASC'" class="fas fa-sort-alpha-down"></i>
            <i *ngIf="filter.sort === 'DESC'" class="fas fa-sort-alpha-down-alt"></i>
            ID
          </span>
        </th>
        <th>
          Назва
        </th>
        <th>
          Запланована дата
        </th>
        <th>
          Статус
        </th>
        <th>
          Дії
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let document of documents; let index = index">
        <td>
          {{ document.id }}
        </td>
        <td>
          <ul>
            <li *ngFor="let language of document.languages">
              {{ language.languageCode }}: <strong>{{ language.title }}</strong>
            </li>
          </ul>
        </td>
        <td>
          {{ document.scheduledDate ? document.scheduledDate : '-' }}
        </td>
        <td>
          <span class="ml-2 badge" [class.badge-success]="document.status === 2" [class.badge-danger]="document.status === 1">
            {{ getStatusName(document.status) }}
          </span>
        </td>
        <td>
          <button title="Перегляд" class="btn btn-block btn-sm btn-outline-primary" routerLink="/business/notification/view/{{ document.id }}">
            <i class="far fa-eye"></i>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
    <ng-container *ngIf="documents === undefined || documents === null || documents.length === 0">
      <div class="text-muted">
        Дані відсутні.
      </div>
    </ng-container>
  </div>
</div>
